<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/nature_republic_detail.css}">

    <header th:replace="partials/bodyHeader :: bodyHeader"/>

    <!-- PRODUCT -->

    <section class="product">
        <ul class="product_view clearfix">
            <li class="col-7 left">
<!--                    <img src="/image/detail_img/detail_1.png">-->
                    <img th:src="@{'/upload/' + ${item.mainSrcs.get(0).s3Key}}" class="main-img">
                <div class="thumbnail">
                    <ul class="thumb_wrap clearfix">
                        <li class="thumb_li" th:each="itemsrc : ${item.mainSrcs}">
<!--                            <a href="#">-->
<!--                                <img th:src="@{'/upload/' + ${itemsrc.s3Key}}" alt="" class="main-thumb">-->
<!--                            </a>-->
                        </li >
<!--                        <li class="thumb_li">-->
<!--                            <a href="#">-->
<!--                                <img src="/image/detail_img/thumbnail_2.png">-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="thumb_li">-->
<!--                            <a href="#">-->
<!--                                <img src="/image/detail_img/thumbnail_3.png">-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </li>
            <li class="col-5 right">
                <nav class="top_nav">
                    <p>Product</p> &nbsp;<img src="/image/detail_img/arrow.png"> &nbsp;<p th:text="${currentCategory.equals('ALL') ? item.mainCategory : currentCategory}"></p>
                </nav>
                <div class="product_sub">
                    <h2 th:text="${item.nameKor}"></h2>
                    <h3 th:text="${item.nameEng}">Iceland firming watery cream</h3>
                    <p th:text="${item.description}"></p>
                </div>
                <div class="price">
                    <p class="a">판매가</p><p><span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></span> 원</p><br>
                    <p class="a">할인가</p><p><span class="won" id="id_color" th:text="${#numbers.formatInteger(item.price*0.8, 3, 'COMMA')}"></span> 원</p>
                </div>

                <div class="info">
                    <div class="a">
                        <p>용량</p><br><p>포인트</p>
                    </div>
                    <div class="b">
                        <p th:text="${item.capacity}">50 ml</p><br><p th:text="${#numbers.formatInteger(item.price*1/10, 3, 'POINT')}">597 point</p>
                    </div>
                    </div>
                    <div class="number">
                        <p>수량<span>1</span></p>
                        <p class="a">총 상품금액:<span class="total_price" id="id_color" th:text="${item.price}"></span> 원</p>
                    </div>
                    <div class="button">
                        <ul class="clearfix">
                            <li class="col-2 like">
                                <div>
                                    <a href="#">
                                        <img src="/image/detail_img/like.png">
                                    </a>
                                </div>
                            </li>
                            <li class="col-4 cart">
                                <div>
                                    <a href="#">
                                        <img src="/image/detail_img/cart.png"> &nbsp;<p>장바구니</p>
                                    </a>
                                </div>
                            </li>
                            <li class="col-6 buy">
                                <div>
                                    <a href="#">
                                        <p>바로구매</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
    </section>

    <!-- RELETED ITEM -->

    <aside class="related_item">
        <div>
            <h3>관련 상품 보기</h3>
        </div>
        <ul class="related_wrap clearfix">
            <li class="col-3">
                <a>
                    <img src="/image/detail_img/categoty_best/best1.png">
                    <p>슈퍼 아쿠아 맥스 컴비네이션 수분 크림 [복합성용]</p>
                </a>
            </li>
            <li class="col-3">
                <a>
                    <img src="/image/detail_img/categoty_best/best2.png">
                    <p>프로방스 인텐스커버 3in1 스트로빙 파운데이션</p>
                </a>
            </li>
            <li class="col-3">
                <a>
                    <img src="/image/detail_img/categoty_best/best3.png">
                    <p>슈퍼 아쿠아 맥스 수분 에멀젼</p>
                </a>
            </li>
            <li class="col-3">
                <a>
                    <img src="/image/detail_img/categoty_best/best4.png">
                    <p>스네일 솔루션 크림 + 앰플</p>
                </a>
            </li>
        </ul>

    </aside>

    <!-- DETAIL -->

    <section class="detail">
        <div class="detail_wrap clearfix">
            <li class="col-3">
                <div class="first">
                    <a href="#">상품정보</a>
                </div>
            </li>
            <li class="col-3">
                <div>
                    <a href="#">리뷰(12)</a>
                </div>
            </li>
            <li class="col-3">
                <div>
                    <a href="#">Q&amp;A(7)</a>
                </div>
            </li>
            <li class="col-3">
                <div>
                    <a href="#">배송/교환/환불</a>
                </div>
            </li>
        </div>
        <div class="item_info">
            <div>
                <img src="/image/detail_img/product_info.png">
            </div>
        </div>
    </section>

    <!-- CATEGORY BEST -->

    <aside class="category_best">
        <ul class="best_wrap clearfix">
            <div>
                <h3>카테고리 베스트 상품</h3>
            </div>
            <li class="col-3">
                <a href="#">
                    <img src="/image/detail_img/best/best_1.png">
                    <p>슈퍼 아쿠아 맥스 컴비네이션 수분 크림 [복합성용]</p>
                </a>
            </li>
            <li class="col-3">
                <a href="#">
                    <img src="/image/detail_img/best/best_2.png">
                    <p>프로방스 인텐스커버 3in1 스트로빙 파운데이션</p>
                </a>
            </li>
            <li class="col-3">
                <a href="#">
                    <img src="/image/detail_img/best/best_3.png">
                    <p>슈퍼 아쿠아 맥스 수분 에멀젼</p>
                </a>
            </li>
            <li class="col-3">
                <a href="#">
                    <img src="/image/detail_img/best/best_4.png">
                    <p>스네일 솔루션 크림 + 앰플</p>
                </a>
            </li>
        </ul>
    </aside>

    <!-- BOTTOM -->

    <div class="bottom">
        <ul>
            <li><a href="#">이용약관</a></li><p>│</p>
            <li><a href="#">개인정보 취급방침</a></li><p>│</p>
            <li><a href="#">가맹점 문의</a></li><p>│</p>
            <li><a href="#">본사 정품 판매처</a></li><p>│</p>
            <li><a href="#">채용안내</a></li>
        </ul>
    </div>

<footer th:replace="partials/footer :: footer"/>
