<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/nature_republic_detail.css}">
<style>
    .head {
        box-shadow: 0 0 3px 0 #dcdcdc;
    }
</style>

<header th:replace="partials/bodyHeader :: bodyHeader"/>

<!-- PRODUCT -->

<section class="product">

    <input type="hidden" class="tab-setting" th:value="${tab}">
    <input type="hidden" class="yOffset-setting" th:value="${yOffset}">

    <ul class="product_view clearfix">
        <li class="col-7 left">
            <!--                    <img src="/image/detail_img/detail_1.png">-->
            <img th:src="@{'/upload/' + ${item.mainSrcs.get(0).s3Key}}" class="main-img">
            <div class="thumbnail">
                <ul class="thumb_wrap clearfix">
                    <li class="thumb_li" th:each="itemsrc : ${item.mainSrcs}">
                        <!--                            <a href="#">-->
                        <!--                                <img th:src="@{'/upload/' + ${itemsrc.s3Key}}" alt="" class="main-thumb">-->
                        <!--                            </a>-->
                    </li>
                </ul>
            </div>
        </li>
        <li class="col-5 right">
            <nav class="top_nav">
                <p>Product</p> &nbsp;<img src="/image/detail_img/arrow.png"> &nbsp;<p
                    th:text="${currentCategory.equals('ALL') ? item.mainCategory : currentCategory}"></p>
            </nav>
            <div class="product_sub">
                <h2 th:text="${item.nameKor}"></h2>
                <h3 th:text="${item.nameEng}">Iceland firming watery cream</h3>
                <p th:text="${item.description}"></p>
            </div>
            <div class="price">
                <p class="a">판매가</p>
                <p><span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}" class="itemPrice"></span> 원</p><br>
                <p class="a">할인가</p>
                <p><span class="won discountPrice" id="id_color"
                         th:text="${#numbers.formatInteger(item.price*0.8, 3, 'COMMA')}"></span> 원</p>
            </div>

            <div class="info">
                <div class="a">
                    <p>용량</p><br>
                    <p>포인트</p>
                </div>
                <div class="b">
                    <p th:text="${item.capacity}">50 ml</p><br>
                    <p th:text="${#numbers.formatInteger(item.price*1/10, 3, 'POINT')}">597 point</p>
                </div>
            </div>
            <div class="number">
                <p>수량
                    <span class="itemCount">1</span>
                    <button><img th:src="@{/image/Orion_add.svg}" alt="" class="plus"></button>
                    <button><img th:src="@{/image/Orion_minus.svg}" alt="" class="minus"></button>
                </p>
                <p class="a">총 상품금액:<span class="total_price" id="id_color"></span> 원</p>
            </div>
            <div class="button">
                <ul class="clearfix">
                    <li class="col-2 like">
                        <div>
                            <form th:action="@{/item/likes}" method="post">
                                <input type="hidden" name="itemId" th:value="${item.id}">
                                <input type="hidden" name="type" class="likeType">
                                <button type="submit" class="like">
                                    <img th:if="${like == false}" th:src="@{/image/like_empty.svg}" class="empty"
                                         id="likeImg">
                                    <img th:if="${like == true}" th:src="@{/image/like_fill.svg}" class="fill"
                                         id="likeImg">
                                </button>
                            </form>
                        </div>
                    </li>
                    <li class="col-4 cart">
                        <div>
                            <a href="#">
                                <img src="/image/detail_img/cart.png"> &nbsp;<p>장바구니</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-6 buy">
                        <div>
                            <form th:action="@{/order}" method="get">
                                <!--                                        <a th:href="@{/order(id=*{item.id}, count=1)}">-->
                                <!--                                            <p>바로구매</p>-->
                                <!--                                        </a>-->
                                <input type="hidden" name="itemId" th:value="${item.id}">
                                <input type="hidden" name="count" value="1" id="count">
                                <button type="submit">바로구매</button>

                                <!--                                        <a href="#">-->
                                <!--                                        </a>-->
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>

<!-- RELETED ITEM -->

<aside class="related_item">
    <div>
        <h3>관련 상품 보기</h3>
    </div>
    <ul class="related_wrap clearfix">
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best1.png">
                <p>슈퍼 아쿠아 맥스 컴비네이션 수분 크림 [복합성용]</p>
            </a>
        </li>
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best2.png">
                <p>프로방스 인텐스커버 3in1 스트로빙 파운데이션</p>
            </a>
        </li>
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best3.png">
                <p>슈퍼 아쿠아 맥스 수분 에멀젼</p>
            </a>
        </li>
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best4.png">
                <p>스네일 솔루션 크림 + 앰플</p>
            </a>
        </li>
    </ul>

</aside>

<!-- DETAIL -->

<section class="detail">
    <div class="detail_wrap clearfix">
        <li class="col-3">
            <div class="first">
                <!--                    <div class="checkbox" th:onclick="|javascript:likeCheck('${likeDto.id}', this)|">-->

                <a href="#" onclick="itemInfoScroll(this)" class="tab-link">상품정보</a>
                <!--                    <a href="#" class="tab-link" id="info-tab-btn">상품정보</a>-->
            </div>
        </li>
        <li class="col-3">
            <div>
                <a href="#" onclick="itemReviewScroll(this)" class="tab-link">리뷰
                    (<span th:text="${reviewDtos.size()}"></span>)
                </a>
            </div>
        </li>
        <li class="col-3">
            <div>
                <a href="#" onclick="itemQnaScroll(this)" class="tab-link">Q&amp;A
                    (<span th:text="${qnaReponseDtos.numberOfElements}"></span>)
                </a>
            </div>
        </li>
        <li class="col-3">
            <div>
                <a href="#" class="tab-link">배송/교환/환불</a>
            </div>
        </li>
    </div>

    <!--   tab     -->
    <div class="item_info item-tab" id="info">
        <div>
            <img th:src="@{'/upload/' + ${item.detailSrcs.get(0).s3Key}}">
        </div>
    </div>

    <div class="item_reviews item-tab" id="reviews">

        <div class="review__list" th:each="review : ${reviewDtos}">
            <div class="review__inner">
                <div class="number-box">
                    <p>1</p>
                </div>
                <div class="info-box">
                    <div class="info__inner">
                        <h4>
                            <span th:text="${#strings.abbreviate(review.content, 30)}" class="review-title"></span>
                            <span th:if="${!review.reviewSrcs.isEmpty()}" class="photo">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <circle data-name="layer2" cx="42" cy="34" r="6" fill="#a0a0a0"></circle>
                                  <path data-name="layer2" fill="#a0a0a0" d="M8 10h10v4H8z"></path>
                                  <path data-name="layer1" d="M59 18h-2.4L50 10H34l-6.6 8H5a3 3 0 0 0-3 3v30a3 3 0 0 0 3 3h54a3 3 0 0 0 3-3V21a3 3 0 0 0-3-3zM12 32a4 4 0 1 1 4-4 4 4 0 0 1-4 4zm30 16a14 14 0 1 1 14-14 14 14 0 0 1-14 14z" fill="#a0a0a0"></path>
                                </svg>
                            </span>
                        </h4>
                        <span class="name" th:text="${review.writer}"></span>
                        <span class="time" th:text="${#temporals.format(review.wroteAt, '· yyyy.MM.dd')}"></span>
                        <br>
                        <span class="rating">
                        <input type="hidden" class="star-rating" th:value="${review.rating}">
                    </span>
                    </div>
                </div>

                <div class="like-box">

                    <input type="hidden" class="memberId-input" th:value="${memberId}">

                    <div class="like__inner">

                        <div th:if="${#arrays.contains(review.likeMemberIds, memberId)}">
                            <svg class="like-review-cancel-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path data-name="layer1"
                                      d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z"
                                      fill="#ff2957" stroke="##ff2957" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                            </svg>
                        </div>

                        <div th:unless="${#arrays.contains(review.likeMemberIds, memberId)}">
                            <svg class="like-review-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path data-name="layer1"
                                      d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z"
                                      fill="none" stroke="#555555" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                            </svg>
                        </div>

                        <input type="hidden" th:value="${review.reviewId}" class="reviewId-input">
                        <p th:text="${review.likeReviewDtos.size()}"></p>
                    </div>
                </div>
            </div>

            <div class="content-box">
                <div class="content__inner" th:if="${!review.reviewSrcs.isEmpty()}">
                    <div class="img-wrap" th:each="img : ${review.reviewSrcs}" th:style="|background-image: url('/upload/${img.s3Key}')|">
                        <button onclick="showModal(this)"></button>
                        <input type="hidden" th:value="${img.s3Key}" class="img-name">
                    </div>

                    <div class="text-div">
                        <p th:utext="${#strings.replace(review.content, newLineChar, '&lt;br /&gt;')}"></p>
                    </div>
                </div>

            </div>
<!--            <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"-->
<!--                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">-->
<!--                <path data-name="layer2"-->
<!--                      fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"-->
<!--                      d="M21.001 28l10.994 13 11.006-13"-->
<!--                      stroke-linejoin="round" stroke-linecap="round"></path>-->
<!--                <circle data-name="layer1" cx="32" cy="32" r="30" fill="none" stroke="#202020"-->
<!--                        stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>-->
<!--            </svg>-->
        </div>

    </div>

    <div class="item_qna item-tab" id="qna">
        <form th:action="@{/qna}" method="post" id="qna-form" th:object="${qnaDto}" class="qna-form">

            <input type="hidden" th:id="itemId" th:name="itemId" th:value="${item.id}">
            <input type="hidden" th:field="${qnaDto.secretVal}" value="false">

            <h3>상품 Q&A <span th:text="${qnaReponseDtos.numberOfElements}"></span></h3>
            <p>
                위하여 석가는 품에 우리의 품고 가치를 가지에 위하여, 황금시대다.<br>
                새가 이상이 없으면 커다란 많이 얼음에 보이는 가슴에 곳으로 것이다. 품에 실현에 이상의 봄바람이다.
            </p>

            <textarea th:field="*{content}" cols="30" rows="20"></textarea>

            <div class="btn-box">
                <button type="submit" class="submit">등록</button>
                <button type="reset" class="cancel">취소</button>

                <div class="secret-box">
                    <div class="secret-div" onclick="secretCheck(this)">

                    </div>
                    <span>비밀글</span>
                </div>
            </div>
        </form>

        <div class="qna-wrap">
            <div class="qna__list" th:each="qnaReponseDto : ${qnaReponseDtos}">
                <div class="qna__list-inner">
                    <div sec:authorize="isAuthenticated()">

                        <div sec:authorize="!hasRole('ADMIN')">

                            <div th:if="${qnaReponseDto.memberId == memberId}">
                                <button th:if="${qnaReponseDto.secretVal == true}" type="button" onclick="allowContent(this)" class="qna-btn">
<!--                                    유저, 작성자 (비밀글)-->
                                </button>
<!--                                <button th:if="${qnaReponseDto.secretVal == false}" type="button" class="qna-btn">-->
<!--                                    유저, 작성자 (공개글)-->
<!--                                </button>-->
                            </div>

                            <div th:if="${qnaReponseDto.secretVal == false}">
                                <button th:if="${qnaReponseDto.secretVal == false}" onclick="allowContent(this)" type="button" class="qna-btn">
<!--                                    유저, 작성자 (공개글)-->
                                </button>
                            </div>

                            <div th:unless="${qnaReponseDto.memberId == memberId}">
                                <button th:if="${qnaReponseDto.secretVal == true}" onclick="deniedContent()" type="button" class="qna-btn">
<!--                                    유저, 작성자 아님 (비밀글)-->
                                </button>
<!--                                <button th:if="${qnaReponseDto.secretVal == false}" onclick="allowContent(this)" type="button" class="qna-btn">-->
<!--                                    유저, 작성자 아님 (공개글)-->
<!--                                </button>-->
                            </div>
                        </div>

                        <div sec:authorize="hasAnyRole('ADMIN')">
                            <button type="button" onclick="allowContent(this)" class="qna-btn">
<!--                                어드민-->
                            </button>
<!--                            <button th:if="${qnaReponseDto.secretVal == false}" type="button" onclick="allowContent(this)" class="qna-btn">-->
<!--                                어드민 (공개글)-->
<!--                            </button>-->
                        </div>
                    </div>

                    <div sec:authorize="!isAuthenticated()">
                        <button th:if="${qnaReponseDto.secretVal == true}" onclick="deniedContent()" type="button" class="qna-btn">
<!--                            로그인 안함 (비밀글)-->
                        </button>
                        <button th:if="${qnaReponseDto.secretVal == false}" onclick="allowContent(this)" type="button" class="qna-btn">
<!--                            로그인 안함 (공개글)-->
                        </button>
                    </div>

                    <div class="status qna__inner">
                        <p th:if="${qnaReponseDto.qnaStatus == 'WAIT'}" class="wait">답변대기</p>
                        <p th:if="${qnaReponseDto.qnaStatus == 'COMP'}" class="comp">답변완료</p>
                    </div>

                    <div class="title qna__inner">
                        <h5>
                            <span th:if="${qnaReponseDto.secretVal == true}" class="title">비밀글입니다.</span>

                            <span th:unless="${qnaReponseDto.secretVal == true}"
                                  th:text="${#strings.abbreviate(qnaReponseDto.content, 30)}" class="title"></span>

                            <span th:if="${qnaReponseDto.secretVal == true}">

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <title>Lock</title>
                                  <desc>A line styled icon from Orion Icon Library.</desc>
                                  <path data-name="layer2"
                                        d="M19 30V15A13 13 0 0 1 32 2a13 13 0 0 1 13 13v15" fill="none" stroke="#202020"
                                        stroke-miterlimit="10" stroke-width="4" stroke-linejoin="round" stroke-linecap="round"></path>
                                  <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                        stroke-width="4" d="M32 41v10" stroke-linejoin="round" stroke-linecap="round"></path>
                                  <rect data-name="layer1" x="10" y="30" width="44" height="32" rx="6"
                                        ry="6" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="4"
                                        stroke-linejoin="round" stroke-linecap="round"></rect>
                                </svg>
                            </span>

                            <span sec:authorize="isAuthenticated()">
                                <span th:if="${qnaReponseDto.memberId == memberId}" class="my-qna">나의글</span>
                            </span>
                        </h5>
                    </div>

                    <div class="name qna__inner">
                        <span th:text="${#strings.substring((qnaReponseDto.memberName), 0, 3).concat('****')}"
                              class="member-name"></span>
                    </div>

                    <div class="date qna__inner">
                        <span th:text="${#temporals.format((qnaReponseDto.wroteAt), 'yyyy-MM-dd HH:mm')}"
                              class="date-text"></span>
                    </div>
                </div>

                <div class="qna-content">
                    <div class="contet__inner">
                        <p th:utext="${#strings.replace((qnaReponseDto.content), newLineChar, '&lt;br /&gt;')}"></p>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')" th:if="${qnaReponseDto.qnaStatus == 'WAIT'}" class="qna-comment-form-container">
                        <h4>답변달기</h4>
                        <form th:action="@{/comments/qna}" method="post" class="qna-comment-form" th:object="${qnaCommentDto}">
                            <input type="hidden" th:id="memberId" th:name="memberId" th:value="${memberId}">
                            <input type="hidden" th:id="itemId" th:name="itemId" th:value="${item.id}">
                            <input type="hidden" th:id="qnaId" th:name="qnaId" th:value="${qnaReponseDto.id}">
                            <textarea th:field="*{content}" th:inline="text" cols="30" rows="10"></textarea>
                            <div class="btn-box">
                                <button type="submit" class="submit">입력</button>
                                <button type="reset" class="cancel">취소</button>
                            </div>
                        </form>
                    </div>

                    <div sec:authorize="hasRole('ADMIN')" th:if="${qnaReponseDto.qnaStatus == 'COMP'}" class="qna-comment-form-update">
                        <h4>답변수정</h4>
                        <form th:action="@{/comments/update/qna}" method="post" class="qna-comment-form" th:object="${commentUpdateDto}">
                            <input type="hidden" id="commentId" th:name="commentId" th:value="${qnaReponseDto.comments.get(0).id}">
                            <textarea th:id="content" th:name="content" cols="30" rows="10" th:utext="${qnaReponseDto.comments.get(0).content}"></textarea>
                            <div class="btn-box">
                                <button type="submit" class="submit">수정</button>
                                <button type="reset" class="cancel" onclick="updateCancel(this)">취소</button>
                            </div>
                        </form>
                    </div>

                    <div class="qna-comment-reply" th:if="${!qnaReponseDto.comments.isEmpty()}">
                        <span class="admin-name">운영자댓글</span>
                        <p th:utext="${#strings.replace((qnaReponseDto.comments.get(0).content), newLineChar, '&lt;br /&gt;')}" id="comment-p"></p>

                        <div class="btn-box" id="comment-update-box">
                            <button sec:authorize="hasRole('ADMIN')" type="button" onclick="updateForm(this)">수정</button>
                            <form sec:authorize="hasRole('ADMIN')" th:action="@{/comments/delete/qna}" method="post" class="comment-delete-form">
                                <input type="hidden" th:name="commentId" th:value="${qnaReponseDto.comments.get(0).id}">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- CATEGORY BEST -->

<aside class="category_best">
    <ul class="best_wrap clearfix">
        <div>
            <h3>카테고리 베스트 상품</h3>
        </div>
        <li class="col-3" th:each="categoryBest : ${categoryBests}">
            <a th:href="@{/item/detail(id = *{categoryBest.itemDto.id})}">
                <img th:src="@{${'/upload/' + categoryBest.itemDto.mainSrcs.get(0).s3Key}}">
                <p th:text="*{categoryBest.itemDto.nameKor}">슈퍼 아쿠아 맥스 컴비네이션 수분 크림 [복합성용]</p>
            </a>
        </li>
    </ul>
</aside>

<!-- BOTTOM -->

<div class="bottom">
    <ul>
        <li><a href="#">이용약관</a></li>
        <p>│</p>
        <li><a href="#">개인정보 취급방침</a></li>
        <p>│</p>
        <li><a href="#">가맹점 문의</a></li>
        <p>│</p>
        <li><a href="#">본사 정품 판매처</a></li>
        <p>│</p>
        <li><a href="#">채용안내</a></li>
    </ul>
</div>

<footer th:replace="partials/footer :: footer"/>

<div id="confirm-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path data-name="layer1" d="M53.122 48.88L36.243 32l16.878-16.878a3 3 0 0 0-4.242-4.242L32 27.758l-16.878-16.88a3 3 0 0 0-4.243 4.243l16.878 16.88-16.88 16.88a3 3 0 0 0 4.243 4.241L32 36.243l16.878 16.88a3 3 0 0 0 4.244-4.243z"
                    fill="#ffffff"></path>
            </svg>
        </span>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">

    function closeModal() {

        var modal = document.getElementsByClassName('modal')[0];
        modal.classList.remove('active');

    }

    function showModal(elem) {

        var imgWrap = elem.parentElement;
        var imgNameInput = imgWrap.getElementsByClassName('img-name')[0];
        var imgNameVal = imgNameInput.value;

        var imgTag = document.createElement('img');
        imgTag.src = '/upload/' + imgNameVal;
        imgTag.style.width = 'fit-content';
        imgTag.style.borderRadius = '5px';

        var modal = document.getElementsByClassName('modal')[0];
        var modalContent = modal.getElementsByClassName('modal-content')[0];

        var removeImg = modalContent.getElementsByTagName('img')[0];

        if (removeImg != null) {
            removeImg.remove();
        }

        modalContent.append(imgTag);
        modal.classList.add('active');

    }

    var countTag = document.getElementsByClassName('itemCount');
    var discountTag = document.getElementsByClassName('discountPrice');
    var discountValue = discountTag[0].innerHTML;
    var replace = discountValue.replace(',', '');
    var replaceNum = Number(replace);

    var totalTag = document.getElementsByClassName('total_price')[0];

    var countParam = document.getElementById('count');
    var countText = countParam.getAttribute('value');
    var countNum = Number(countText);

    function totalPrice(price) {
        var countValue = Number(countTag[0].innerHTML);
        var total = price * countValue;
        var format = new Intl.NumberFormat().format(total);
        totalTag.innerHTML = format;

    }

    totalPrice(replaceNum);

    function plusCount() {
        countNum++;
        countParam.setAttribute('value', countNum);
    }

    function minusCount() {
        countNum--;
        countParam.setAttribute('value', countNum);
    }

    var plusButton = document.getElementsByClassName('plus')[0];
    var minusButton = document.getElementsByClassName('minus')[0];

    function likeTypeSet() {
        var likeTypeTag = document.getElementsByClassName('likeType')[0];
        var likeImgTag = document.getElementById('likeImg');
        if (likeImgTag.classList.contains('empty')) {
            likeTypeTag.value = 'add'
        } else {
            likeTypeTag.value = 'remove';
        }
    }

    var infoTab = document.getElementById('info');
    var reviewTab = document.getElementById('reviews');
    var qnaTab = document.getElementById('qna');

    var tabs = document.getElementsByClassName('item-tab');
    var tabLinks = document.getElementsByClassName('tab-link');

    function displayNoneTabs() {
        for (i = 0; i < tabs.length; i++) {
            tabs[i].setAttribute('style', 'display: none;');
        }
    }

    function styleReset() {
        for (i = 0; i < tabLinks.length; i++) {
            var tabLink = tabLinks[i];
            tabLink.style.backgroundColor = '#f3f3f3';
            tabLink.style.color = '#555';

        }
    }

    function styleChange(elem) {
        console.log(elem);
        elem.style.backgroundColor = '#7ebb34';
        elem.style.color = '#fff';
    }

    function itemInfoScroll(elem) {
        displayNoneTabs();
        styleReset();
        styleChange(elem);
        infoTab.setAttribute('style', 'display: block;');
    }

    function itemReviewScroll(elem) {
        console.log("들어왔다!!!!!!!!");
        displayNoneTabs();
        styleReset();
        styleChange(elem);
        reviewTab.setAttribute('style', 'display: block;');

    }

    function itemQnaScroll(elem) {

        displayNoneTabs();
        styleReset();
        styleChange(elem);
        qnaTab.setAttribute('style', 'display: block;');

    }

    var qnaFormTag = document.getElementById('qna-form');

    function secretCheck(elem) {

        if (elem.classList.contains('secretCheck') && elem.classList.contains('secret-div')) {
            var secretInputTag = document.getElementById('secretVal');
            secretInputTag.value = 'false';

            elem.classList.remove('secretCheck');
            elem.childNodes[1].remove();

        } else if (!elem.classList.contains('secretCheck')) {

            var secretInputTag = document.getElementById('secretVal');
            secretInputTag.value = 'true';

            var imgTag = document.createElement('img');
            imgTag.src = '/image/icon/check_mark.svg';
            imgTag.setAttribute('style', 'max-width: 40px;');
            imgTag.setAttribute('style', 'width: 100%;');

            elem.appendChild(imgTag);
            elem.classList.add('secretCheck');
        }
    }

    function allowContent(elem) {

        var qnaList = document.getElementsByClassName('heightUp')[0];

        if (qnaList != null) {
            qnaList.style.height = '80px';
            qnaList.classList.remove('heightUp');
            console.log('heightUp 클래스 제거');
        }

        var className = "qna__list";

        if (!elem.classList.contains('active-button')) {

            var activeButton = document.getElementsByClassName('active-button')[0];
            if (activeButton) {
                activeButton.classList.remove('active-button');
            }

            elem.classList.add('active-button');

            while(true) {
                var parentElement = elem.parentElement;
                if (parentElement.classList.contains(className)) {
                    parentElement.style.height = 'auto';
                    parentElement.classList.add('heightUp');
                    console.log('heightUp 클래스 추가');
                    break;
                }
                elem = parentElement;
            }
        } else {
            console.log('btn active 있을 때!!!!!!');
            elem.classList.remove('active-button');

            while(true) {
                var parentElement = elem.parentElement;
                if (parentElement.classList.contains(className)) {
                    parentElement.style.height = '80px';
                    // parentElement.classList.remove('heightUp');
                    // console.log('heightUp 클래스 제거');
                    break;
                }
                elem = parentElement;
            }
        }

    }

    function deniedContent() {
        alert("작성자만 볼 수 있습니다.");
    }

    // admin 댓글 업데이트
    function updateForm(elem) {
        var btnBoxTag = elem.parentElement;
        var qnaCommentReplyTag = btnBoxTag.parentElement;
        qnaCommentReplyTag.style.display = 'none';
        var qnaContentBox = qnaCommentReplyTag.parentElement;

        var childNodes = qnaContentBox.childNodes;
        var childNode = childNodes[3];
        childNode.style.display = 'block';

    }

    // admin 댓글 업데이트 취소
    function updateCancel(elem) {

        var elemVar = elem;

        while (true) {
            var parentElement = elemVar.parentElement;
            if (parentElement.classList.contains('qna-comment-form-update')) {
                parentElement.style.display = 'none';
            }
            if (parentElement.classList.contains('qna-content')) {
               var qnaCommentReplyTag = parentElement.childNodes[5];
               qnaCommentReplyTag.style.display = 'block';
                break;
            }
            elemVar = parentElement;

        }


    }

    function tabSetting() {
        var tabSettingInput = document.getElementsByClassName('tab-setting')[0];
        var tabVal = tabSettingInput.value;
        var tabLinkTags = document.getElementsByClassName('tab-link');

        if (tabVal == 'info') {

            displayNoneTabs();
            styleReset();

            var tabLinkTag = tabLinkTags[0];
            tabLinkTag.style.backgroundColor = '#7ebb34';
            tabLinkTag.style.color = '#fff';

            var infoTab = document.getElementById('info');
            infoTab.style.display = 'block';

        } else if (tabVal == 'reviews') {

            displayNoneTabs();
            styleReset();

            var tabLinkTags = document.getElementsByClassName('tab-link');

            var tabLinkTag = tabLinkTags[1];
            tabLinkTag.style.backgroundColor = '#7ebb34';
            tabLinkTag.style.color = '#fff';

            var infoTab = document.getElementById('reviews');
            infoTab.style.display = 'block';

        } else if (tabVal == 'qna') {

            displayNoneTabs();
            styleReset();

            var tabLinkTags = document.getElementsByClassName('tab-link');

            var tabLinkTag = tabLinkTags[2];
            tabLinkTag.style.backgroundColor = '#7ebb34';
            tabLinkTag.style.color = '#fff';

            var infoTab = document.getElementById('qna');
            infoTab.style.display = 'block';

        }
    }

    function yOffsetSetting(yOffsetNum) {
        window.scroll(0, yOffsetNum);
    }

    window.onload = function () {

        // 로딩 했을시에 yOffset 값 있으면 세팅
        var yOffsetSettingInput = document.getElementsByClassName('yOffset-setting')[0];
        var yOffsetNum = Number(yOffsetSettingInput.value);

        if (yOffsetNum > 0) {
            yOffsetSetting(yOffsetNum)
        }

        // 로딩 했을시에 탭 설정
        tabSetting();

        // 구매후기 좋아요 취소
        var likeReviewCancelBtns = document.getElementsByClassName('like-review-cancel-btn');

        for (i = 0; i < likeReviewCancelBtns.length; i++) {

            var likeReviewCancelBtn = likeReviewCancelBtns[i];

            likeReviewCancelBtn.addEventListener('click', function (evt) {

                var div = likeReviewCancelBtn.parentElement;
                var likeInner = div.parentElement;


                var reviewIdInput = likeInner.getElementsByTagName('input')[0];
                var reviewIdVal = Number(reviewIdInput.value);

                var memberIdInput = document.getElementsByClassName('memberId-input')[0];
                var memberIdVal = Number(memberIdInput.value);

                var formTag = document.createElement('form');
                formTag.method = 'post';
                formTag.action = '/likeReview/delete';

                var pageYOffset = window.pageYOffset;

                var inputTagPageYOffset = document.createElement('input');
                inputTagPageYOffset.type = 'hidden';
                inputTagPageYOffset.name = 'yOffset';
                inputTagPageYOffset.value = pageYOffset;

                var inputTagForReviewId = document.createElement('input');
                inputTagForReviewId.type = 'hidden';
                inputTagForReviewId.name = 'reviewId';
                inputTagForReviewId.value = reviewIdVal;
                
                var inputTagForMemberId = document.createElement('input');
                inputTagForMemberId.type = 'hidden';
                inputTagForMemberId.name = 'memberId';
                inputTagForMemberId.value = memberIdVal;

                var methodInput = document.createElement('input');
                methodInput.name = '_method';
                methodInput.value = 'delete';

                formTag.append(inputTagPageYOffset);
                formTag.append(inputTagForReviewId);
                formTag.append(inputTagForMemberId);
                formTag.append(methodInput);
                document.body.append(formTag);

                formTag.submit();

            })

        }

        // 구매후기 리뷰 좋아요
        var likeReviewBtns = document.getElementsByClassName('like-review-btn');

        for (i = 0; i < likeReviewBtns.length; i++) {

            var likeReviewBtn = likeReviewBtns[i];
            likeReviewBtn.addEventListener('click', function (evt) {

                var div = likeReviewBtn.parentElement;
                var likeInner = div.parentElement;
                var reviewIdInput = likeInner.getElementsByTagName('input')[0];
                var reviewIdVal = Number(reviewIdInput.value);

                var memberIdInput = document.getElementsByClassName('memberId-input')[0];
                var memberIdVal = Number(memberIdInput.value);

                if (memberIdVal == null || memberIdVal == "") {
                    alert("로그인을 하셔야 좋아요를 누를 수 있습니다");
                    return;
                }

                var formTag = document.createElement('form');
                formTag.method = 'post';
                formTag.action = '/likeReview';

                var pageYOffset = window.pageYOffset;

                var inputTagPageYOffset = document.createElement('input');
                inputTagPageYOffset.type = 'hidden';
                inputTagPageYOffset.name = 'yOffset';
                inputTagPageYOffset.value = pageYOffset;

                var inputTagForReviewId = document.createElement('input');
                inputTagForReviewId.type = 'hidden';
                inputTagForReviewId.name = 'reviewId';
                inputTagForReviewId.value = reviewIdVal;

                var inputTagForMemberId = document.createElement('input');
                inputTagForMemberId.type = 'hidden';
                inputTagForMemberId.name = 'memberId';
                inputTagForMemberId.value = memberIdVal;

                formTag.append(inputTagPageYOffset);
                formTag.append(inputTagForReviewId);
                formTag.append(inputTagForMemberId);

                document.body.append(formTag);
                formTag.submit();

            })

        }

        // modal 바깥 눌렀을 때 hidden
        var modal = document.getElementsByClassName('modal')[0];

        modal.addEventListener('click', function (evt) {
            modal.classList.remove('active');
        });

        var modalContent = modal.getElementsByClassName('modal-content')[0];
        modalContent.addEventListener('click', function (evt) {
            evt.stopPropagation();
        });

        // 리뷰 별점
        var ratingSpans = document.getElementsByClassName('rating');

        for (i = 0; i < ratingSpans.length; i++) {

            var ratingSpan = ratingSpans[i];
            var ratingInput = ratingSpan.getElementsByClassName('star-rating')[0];
            var ratingInputNum = Number(ratingInput.value);

            for (j = 0; j < 5; j++) {

                if (j < ratingInputNum) {
                    ratingSpan.innerHTML += '<svg class="star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"\n' +
                        'aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">\n' +
                        '                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"\n' +
                        '                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#7ebb34"\n' +
                        '                                          fill="#7ebb34" data-name="layer1" stroke-linejoin="round"></path>\n' +
                        '                                </svg>'
                } else {
                    ratingSpan.innerHTML += '<svg class="star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"\n' +
                        'aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">\n' +
                        '                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"\n' +
                        '                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#555555"\n' +
                        '                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>\n' +
                        '                                </svg>'
                }

            }

        }

        plusButton.onclick = function () {
            var countValue = Number(countTag[0].innerHTML);
            countTag[0].innerHTML = countValue + 1;
            totalPrice(replaceNum);
            plusCount();

        };

        minusButton.onclick = function () {
            var countValue = Number(countTag[0].innerHTML);
            countTag[0].innerHTML = countValue - 1;
            totalPrice(replaceNum);
            minusCount();
        };

        likeTypeSet();

    }

</script>
