<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/nature_republic_detail.css}">
<style>
    .head {
        box-shadow: 0 0 3px 0 #dcdcdc;
    }
</style>

<header th:replace="partials/bodyHeader :: bodyHeader"/>

<!-- PRODUCT -->

<section class="product">
    <ul class="product_view clearfix">
        <li class="col-7 left">
            <!--                    <img src="/image/detail_img/detail_1.png">-->
            <img th:src="@{'/upload/' + ${item.mainSrcs.get(0).s3Key}}" class="main-img">
            <div class="thumbnail">
                <ul class="thumb_wrap clearfix">
                    <li class="thumb_li" th:each="itemsrc : ${item.mainSrcs}">
                        <!--                            <a href="#">-->
                        <!--                                <img th:src="@{'/upload/' + ${itemsrc.s3Key}}" alt="" class="main-thumb">-->
                        <!--                            </a>-->
                    </li>
                </ul>
            </div>
        </li>
        <li class="col-5 right">
            <nav class="top_nav">
                <p>Product</p> &nbsp;<img src="/image/detail_img/arrow.png"> &nbsp;<p
                    th:text="${currentCategory.equals('ALL') ? item.mainCategory : currentCategory}"></p>
            </nav>
            <div class="product_sub">
                <h2 th:text="${item.nameKor}"></h2>
                <h3 th:text="${item.nameEng}">Iceland firming watery cream</h3>
                <p th:text="${item.description}"></p>
            </div>
            <div class="price">
                <p class="a">판매가</p>
                <p><span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}" class="itemPrice"></span> 원</p><br>
                <p class="a">할인가</p>
                <p><span class="won discountPrice" id="id_color"
                         th:text="${#numbers.formatInteger(item.price*0.8, 3, 'COMMA')}"></span> 원</p>
            </div>

            <div class="info">
                <div class="a">
                    <p>용량</p><br>
                    <p>포인트</p>
                </div>
                <div class="b">
                    <p th:text="${item.capacity}">50 ml</p><br>
                    <p th:text="${#numbers.formatInteger(item.price*1/10, 3, 'POINT')}">597 point</p>
                </div>
            </div>
            <div class="number">
                <p>수량
                    <span class="itemCount">1</span>
                    <button><img th:src="@{/image/Orion_add.svg}" alt="" class="plus"></button>
                    <button><img th:src="@{/image/Orion_minus.svg}" alt="" class="minus"></button>
                </p>
                <p class="a">총 상품금액:<span class="total_price" id="id_color"></span> 원</p>
            </div>
            <div class="button">
                <ul class="clearfix">
                    <li class="col-2 like">
                        <div>
                            <form th:action="@{/item/likes}" method="post">
                                <input type="hidden" name="itemId" th:value="${item.id}">
                                <input type="hidden" name="type" class="likeType">
                                <button type="submit" class="like">
                                    <img th:if="${like == false}" th:src="@{/image/like_empty.svg}" class="empty"
                                         id="likeImg">
                                    <img th:if="${like == true}" th:src="@{/image/like_fill.svg}" class="fill"
                                         id="likeImg">
                                </button>
                            </form>
                        </div>
                    </li>
                    <li class="col-4 cart">
                        <div>
                            <a href="#">
                                <img src="/image/detail_img/cart.png"> &nbsp;<p>장바구니</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-6 buy">
                        <div>
                            <form th:action="@{/order}" method="get">
                                <!--                                        <a th:href="@{/order(id=*{item.id}, count=1)}">-->
                                <!--                                            <p>바로구매</p>-->
                                <!--                                        </a>-->
                                <input type="hidden" name="itemId" th:value="${item.id}">
                                <input type="hidden" name="count" value="1" id="count">
                                <button type="submit">바로구매</button>

                                <!--                                        <a href="#">-->
                                <!--                                        </a>-->
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>

<!-- RELETED ITEM -->

<aside class="related_item">
    <div>
        <h3>관련 상품 보기</h3>
    </div>
    <ul class="related_wrap clearfix">
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best1.png">
                <p>슈퍼 아쿠아 맥스 컴비네이션 수분 크림 [복합성용]</p>
            </a>
        </li>
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best2.png">
                <p>프로방스 인텐스커버 3in1 스트로빙 파운데이션</p>
            </a>
        </li>
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best3.png">
                <p>슈퍼 아쿠아 맥스 수분 에멀젼</p>
            </a>
        </li>
        <li class="col-3">
            <a>
                <img src="/image/detail_img/categoty_best/best4.png">
                <p>스네일 솔루션 크림 + 앰플</p>
            </a>
        </li>
    </ul>

</aside>

<!-- DETAIL -->

<section class="detail">
    <div class="detail_wrap clearfix">
        <li class="col-3">
            <div class="first">
                <!--                    <div class="checkbox" th:onclick="|javascript:likeCheck('${likeDto.id}', this)|">-->

                <a href="#" onclick="itemInfoScroll(this)" class="tab-link">상품정보</a>
                <!--                    <a href="#" class="tab-link" id="info-tab-btn">상품정보</a>-->
            </div>
        </li>
        <li class="col-3">
            <div>
                <a href="#" onclick="itemReviewScroll(this)" class="tab-link">리뷰(12)</a>
            </div>
        </li>
        <li class="col-3">
            <div>
                <a href="#" onclick="itemQnaScroll(this)" class="tab-link">Q&amp;A(7)</a>
            </div>
        </li>
        <li class="col-3">
            <div>
                <a href="#" class="tab-link">배송/교환/환불</a>
            </div>
        </li>
    </div>

    <!--   tab     -->
    <div class="item_info item-tab" id="info">
        <div>
            <img th:src="@{'/upload/' + ${item.detailSrcs.get(0).s3Key}}">
        </div>
    </div>

    <div class="item_reviews item-tab" id="reviews">
        <div class="review__list">
            <div class="number-box">
                <p>1</p>
            </div>
            <div class="info-box">
                <div class="info__inner">
                    <h4>아주 거렁뱅이들이나 쓰는 제품입니다.</h4>
                    <span class="name">yonggilmun</span>
                    <span class="time">·2019.12.04</span>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Angle Down Circle</title>
                <desc>A line styled icon from Orion Icon Library.</desc>
                <path data-name="layer2"
                      fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"
                      d="M21.001 28l10.994 13 11.006-13"
                      stroke-linejoin="round" stroke-linecap="round"></path>
                <circle data-name="layer1" cx="32" cy="32" r="30" fill="none" stroke="#202020"
                        stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
            </svg>
        </div>

    </div>

    <div class="item_qna item-tab" id="qna">
        <form th:action="@{/qna}" method="post" id="qna-form" th:object="${qnaDto}" class="qna-form">

            <input type="hidden" th:id="itemId" th:name="itemId" th:value="${item.id}">
            <input type="hidden" th:field="${qnaDto.secretVal}" value="false">

            <h3>상품 Q&A <span>(7)</span></h3>
            <p>
                위하여 석가는 품에 우리의 품고 가치를 가지에 위하여, 황금시대다.<br>
                새가 이상이 없으면 커다란 많이 얼음에 보이는 가슴에 곳으로 것이다. 품에 실현에 이상의 봄바람이다.
            </p>

            <textarea th:field="*{content}" cols="30" rows="20"></textarea>

            <div class="btn-box">
                <button type="submit" class="submit">등록</button>
                <button type="reset" class="cancel">취소</button>

                <div class="secret-box">
                    <div class="secret-div" onclick="secretCheck(this)">

                    </div>
                    <span>비밀글</span>
                </div>
            </div>
        </form>

        <div class="qna-wrap">
            <div class="qna__list" th:each="qnaReponseDto : ${qnaReponseDtos}">
                <div class="qna__list-inner">
                    <div sec:authorize="isAuthenticated()">

                        <div sec:authorize="!hasRole('ADMIN')">

                            <div th:if="${qnaReponseDto.memberId == memberId}">
                                <button th:if="${qnaReponseDto.secretVal == true}" type="button" onclick="allowContent(this)" class="qna-btn">
                                    유저, 작성자 (비밀글)
                                </button>
<!--                                <button th:if="${qnaReponseDto.secretVal == false}" type="button" class="qna-btn">-->
<!--                                    유저, 작성자 (공개글)-->
<!--                                </button>-->
                            </div>

                            <div th:if="${qnaReponseDto.secretVal == false}">
                                <button th:if="${qnaReponseDto.secretVal == false}" onclick="allowContent(this)" type="button" class="qna-btn">
                                    유저, 작성자 (공개글)
                                </button>
                            </div>

                            <div th:unless="${qnaReponseDto.memberId == memberId}">
                                <button th:if="${qnaReponseDto.secretVal == true}" onclick="deniedContent()" type="button" class="qna-btn">
                                    유저, 작성자 아님 (비밀글)
                                </button>
<!--                                <button th:if="${qnaReponseDto.secretVal == false}" onclick="allowContent(this)" type="button" class="qna-btn">-->
<!--                                    유저, 작성자 아님 (공개글)-->
<!--                                </button>-->
                            </div>
                        </div>

                        <div sec:authorize="hasAnyRole('ADMIN')">
                            <button type="button" onclick="allowContent(this)" class="qna-btn">
                                어드민
                            </button>
<!--                            <button th:if="${qnaReponseDto.secretVal == false}" type="button" onclick="allowContent(this)" class="qna-btn">-->
<!--                                어드민 (공개글)-->
<!--                            </button>-->
                        </div>
                    </div>

                    <div sec:authorize="!isAuthenticated()">
                        <button th:if="${qnaReponseDto.secretVal == true}" onclick="deniedContent()" type="button" class="qna-btn">로그인 안함 (비밀글)
                        </button>
                        <button th:if="${qnaReponseDto.secretVal == false}" onclick="allowContent(this)" type="button" class="qna-btn">로그인 안함 (공개글)
                        </button>
                    </div>

                    <div class="status qna__inner">
                        <p th:if="${qnaReponseDto.qnaStatus == 'WAIT'}" class="wait">답변대기</p>
                        <p th:if="${qnaReponseDto.qnaStatus == 'COMP'}" class="comp">답변완료</p>
                    </div>

                    <div class="title qna__inner">
                        <h5>
                            <span th:if="${qnaReponseDto.secretVal == true}" class="title">비밀글입니다.</span>

                            <span th:unless="${qnaReponseDto.secretVal == true}"
                                  th:text="${#strings.abbreviate(qnaReponseDto.content, 30)}" class="title"></span>

                            <span th:if="${qnaReponseDto.secretVal == true}">

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <title>Lock</title>
                                  <desc>A line styled icon from Orion Icon Library.</desc>
                                  <path data-name="layer2"
                                        d="M19 30V15A13 13 0 0 1 32 2a13 13 0 0 1 13 13v15" fill="none" stroke="#202020"
                                        stroke-miterlimit="10" stroke-width="4" stroke-linejoin="round" stroke-linecap="round"></path>
                                  <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                        stroke-width="4" d="M32 41v10" stroke-linejoin="round" stroke-linecap="round"></path>
                                  <rect data-name="layer1" x="10" y="30" width="44" height="32" rx="6"
                                        ry="6" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="4"
                                        stroke-linejoin="round" stroke-linecap="round"></rect>
                                </svg>
                            </span>

                            <span sec:authorize="isAuthenticated()">
                                <span th:if="${qnaReponseDto.memberId == memberId}" class="my-qna">나의글</span>
                            </span>
                        </h5>
                    </div>

                    <div class="name qna__inner">
                        <span th:text="${#strings.substring((qnaReponseDto.memberName), 0, 3).concat('****')}"
                              class="member-name"></span>
                    </div>

                    <div class="date qna__inner">
                        <span th:text="${#temporals.format((qnaReponseDto.wroteAt), 'yyyy-MM-dd HH:mm')}"
                              class="date-text"></span>
                    </div>

<!--                    <div class="isSecret qna__inner">-->
<!--                        <div th:if="${qnaReponseDto.secretVal == true}">-->

<!--                        </div>-->

<!--                        <div th:unless="${qnaReponseDto.secretVal == true}">-->

<!--                        </div>-->
<!--                    </div>-->
                </div>

                <div class="qna-content">
                    <div class="contet__inner">
                        <p th:text="${qnaReponseDto.content}"></p>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')" class="qna-comment-form-container">
                        <h4>답변달기</h4>
                        <form th:action="@{/comments/qna}" method="post" class="qna-comment-form" th:object="${qnaCommentDto}">
                            <input type="hidden" th:id="memberId" th:name="memberId" th:value="${memberId}">
                            <input type="hidden" th:id="itemId" th:name="itemId" th:value="${item.id}">
                            <input type="hidden" th:id="qnaId" th:name="qnaId" th:value="${qnaReponseDto.id}">
                            <textarea th:field="*{content}" cols="30" rows="10"></textarea>
                            <div class="btn-box">
                                <button type="submit" class="submit">입력</button>
                                <button type="reset" class="cancel">취소</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<!-- CATEGORY BEST -->

<aside class="category_best">
    <ul class="best_wrap clearfix">
        <div>
            <h3>카테고리 베스트 상품</h3>
        </div>
        <li class="col-3" th:each="categoryBest : ${categoryBests}">
            <a th:href="@{/item/detail(id = *{categoryBest.itemDto.id})}">
                <img th:src="@{${'/upload/' + categoryBest.itemDto.mainSrcs.get(0).s3Key}}">
                <p th:text="*{categoryBest.itemDto.nameKor}">슈퍼 아쿠아 맥스 컴비네이션 수분 크림 [복합성용]</p>
            </a>
        </li>
    </ul>
</aside>

<!-- BOTTOM -->

<div class="bottom">
    <ul>
        <li><a href="#">이용약관</a></li>
        <p>│</p>
        <li><a href="#">개인정보 취급방침</a></li>
        <p>│</p>
        <li><a href="#">가맹점 문의</a></li>
        <p>│</p>
        <li><a href="#">본사 정품 판매처</a></li>
        <p>│</p>
        <li><a href="#">채용안내</a></li>
    </ul>
</div>

<footer th:replace="partials/footer :: footer"/>

<script type="text/javascript" th:inline="javascript">

    var countTag = document.getElementsByClassName('itemCount');
    var discountTag = document.getElementsByClassName('discountPrice');
    var discountValue = discountTag[0].innerHTML;
    var replace = discountValue.replace(',', '');
    var replaceNum = Number(replace);

    var totalTag = document.getElementsByClassName('total_price')[0];

    var countParam = document.getElementById('count');
    var countText = countParam.getAttribute('value');
    var countNum = Number(countText);

    function totalPrice(price) {
        var countValue = Number(countTag[0].innerHTML);
        var total = price * countValue;
        var format = new Intl.NumberFormat().format(total);
        totalTag.innerHTML = format;

    }

    totalPrice(replaceNum);

    function plusCount() {
        countNum++;
        countParam.setAttribute('value', countNum);
    }

    function minusCount() {
        countNum--;
        countParam.setAttribute('value', countNum);
    }

    var plusButton = document.getElementsByClassName('plus')[0];
    var minusButton = document.getElementsByClassName('minus')[0];

    function likeTypeSet() {
        var likeTypeTag = document.getElementsByClassName('likeType')[0];
        var likeImgTag = document.getElementById('likeImg');
        if (likeImgTag.classList.contains('empty')) {
            likeTypeTag.value = 'add'
        } else {
            likeTypeTag.value = 'remove';
        }
    }

    var infoTab = document.getElementById('info');
    var reviewTab = document.getElementById('reviews');
    var qnaTab = document.getElementById('qna');

    var tabs = document.getElementsByClassName('item-tab');
    var tabLinks = document.getElementsByClassName('tab-link');

    function displayNoneTabs() {
        for (i = 0; i < tabs.length; i++) {
            tabs[i].setAttribute('style', 'display: none;');
        }
    }

    function styleReset() {
        for (i = 0; i < tabLinks.length; i++) {
            var tabLink = tabLinks[i];
            tabLink.style.backgroundColor = '#f3f3f3';
            tabLink.style.color = '#555';

        }
    }

    function styleChange(elem) {
        console.log(elem);
        elem.style.backgroundColor = '#7ebb34';
        elem.style.color = '#fff';
    }

    function itemInfoScroll(elem) {
        displayNoneTabs();
        styleReset();
        styleChange(elem);
        infoTab.setAttribute('style', 'display: block;');
    }

    function itemReviewScroll(elem) {
        console.log("들어왔다!!!!!!!!");
        displayNoneTabs();
        styleReset();
        styleChange(elem);
        reviewTab.setAttribute('style', 'display: block;');

    }

    function itemQnaScroll(elem) {

        displayNoneTabs();
        styleReset();
        styleChange(elem);
        qnaTab.setAttribute('style', 'display: block;');

    }

    var qnaFormTag = document.getElementById('qna-form');

    function secretCheck(elem) {

        if (elem.classList.contains('secretCheck') && elem.classList.contains('secret-div')) {
            var secretInputTag = document.getElementById('secretVal');
            secretInputTag.value = 'false';

            elem.classList.remove('secretCheck');
            elem.childNodes[1].remove();

        } else if (!elem.classList.contains('secretCheck')) {

            var secretInputTag = document.getElementById('secretVal');
            secretInputTag.value = 'true';

            var imgTag = document.createElement('img');
            imgTag.src = '/image/icon/check_mark.svg';
            imgTag.setAttribute('style', 'max-width: 40px;');
            imgTag.setAttribute('style', 'width: 100%;');

            elem.appendChild(imgTag);
            elem.classList.add('secretCheck');
        }
    }

    function allowContent(elem) {

        var qnaList = document.getElementsByClassName('heightUp')[0];

        if (qnaList != null) {
            qnaList.style.height = '80px';
            qnaList.classList.remove('heightUp');
            console.log('heightUp 클래스 제거');
        }

        var className = "qna__list";

        if (!elem.classList.contains('active-button')) {

            var activeButton = document.getElementsByClassName('active-button')[0];
            if (activeButton) {
                activeButton.classList.remove('active-button');
            }

            elem.classList.add('active-button');

            while(true) {
                var parentElement = elem.parentElement;
                if (parentElement.classList.contains(className)) {
                    parentElement.style.height = 'auto';
                    parentElement.classList.add('heightUp');
                    console.log('heightUp 클래스 추가');
                    break;
                }

                elem = parentElement;
            }
        } else {
            console.log('btn active 있을 때!!!!!!');
            elem.classList.remove('active-button');

            while(true) {
                var parentElement = elem.parentElement;
                if (parentElement.classList.contains(className)) {
                    parentElement.style.height = '80px';
                    // parentElement.classList.remove('heightUp');
                    // console.log('heightUp 클래스 제거');
                    break;
                }

                elem = parentElement;

            }
        }



    }

    function deniedContent() {
        alert("작성자만 볼 수 있습니다.");
    }

    window.onload = function () {

        plusButton.onclick = function () {
            var countValue = Number(countTag[0].innerHTML);
            countTag[0].innerHTML = countValue + 1;
            totalPrice(replaceNum);
            plusCount();

        };

        minusButton.onclick = function () {
            var countValue = Number(countTag[0].innerHTML);
            countTag[0].innerHTML = countValue - 1;
            totalPrice(replaceNum);
            minusCount();
        };

        // infoTabBtn.onclick = function (elem) {
        //     displayNoneTabs();
        //     styleReset();
        //     styleChange(target);
        //     infoTab.setAttribute('style', 'display: block;');
        // };

        likeTypeSet();

    }

</script>
