<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/nature_republic_list.css}">

    <header th:replace="partials/bodyHeader :: bodyHeader"/>

    <!-- BANNER -->

    <section class="top">
        <div class="top_name">
            <h1>Products</h1>
            <p>네이처리퍼블릭은 자연의 완벽함을 믿습니다.<br>우리는 전세계의 청정 자연에서 자연이 주는 선물을 찾아서 가장 자연<br>그대로에 가까운 상태로 고객들에게 제공하는 것을 목표로 합니다.</p>
        </div>
    </section>

    <!-- BEST ITEM -->

    <section class="best">
        <div class="best_title">
            <h2 class="main_font">Category Product</h2>
            <p class="sub_font">네이처리퍼블릭은 자연의 완벽함을 믿습니다.</p>
        </div>
        <ol class="best_item clearfix">
            <li class="col-3" th:each="popular : ${populars}">
                <div class="out_box">
                    <div class='inner-box'>
                        <a class='be_item' href="#">
                            <img th:src="@{${'/upload/' + popular.mainSrcs.get(0).s3Key}}">
                            <div class="best_hover"></div>
                        </a>
                    </div>
                    <h3 th:text="*{popular.nameKor}"></h3>
                    <p class="d"><span class="won"></span><span id="id_color" th:text="${#numbers.formatInteger(popular.price, 3, 'COMMA')}">13,900</span> 원</p>
                </div>
            </li>

        </ol>
    </section>

    <nav class="category_nav">
        <ul class="clearfix category_wrapper">
            <li>
                <a href="#">전체</a>
            </li>
            <li th:each="categoty : ${categories}">
                <a href="#" th:utext="*{categoty.name}"></a>
            </li>
        </ul>
    </nav>

    <!-- LIST -->

    <section class="skin_care">
        <div class="skin_top">
            <p>전체 <span id="id_color">130개</span>의 제품이 있습니다 [<span id="id_color">12</span>]</p>
        </div>
        <ul class="skn_list clearfix">
            <li class="col-3" th:each="item : ${items}">
                <div class="img-box">
                    <a href="#">
                        <img th:src="@{${'/upload/' + item.mainSrcs.get(0).s3Key}}">
                    </a>
                </div>
                <h3 class="a" th:text="*{item.nameKor}"></h3>
                <p class="b" th:text="*{item.description}"></p>
                <p class="c"><span id="id_color" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></span> 원</p>
                <div class="cart">
                    <img src="/image/list_img/list/cart.png">
                </div>
            </li>
        </ul>
        <div class="more">
            <div>
                <a th:href="@{${'/item?page=0&sort=id&direction=DESC&size=' + moreView}}">
                     <p>More</p>
                     <img src="/image/list_img/list/arrow.png">
                </a>
            </div>
        </div>
    </section>

    <!-- BOTTOM -->

    <div th:replace="partials/bottom :: bottom"/>

    <footer th:replace="partials/footer :: footer"/>