<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<style>
    .head {
        position: fixed !important;
    }

    .head.active {
        box-shadow: 0 0 5px 0 #dcdcdc;
    }

    .top {
        padding-top: 180px !important;
    }
</style>
<link rel="stylesheet" th:href="@{/css/nature_republic_list.css}">

<header th:replace="partials/bodyHeader :: bodyHeader"/>

<!-- BANNER -->

<section class="top">
    <div class="top_name">
        <h1>Products</h1>
        <p>네이처리퍼블릭은 자연의 완벽함을 믿습니다.<br>우리는 전세계의 청정 자연에서 자연이 주는 선물을 찾아서 가장 자연<br>그대로에 가까운 상태로 고객들에게 제공하는 것을 목표로 합니다.</p>
    </div>
</section>

<!-- BEST ITEM -->

<section class="best">
    <div class="best_title">
        <h2 class="main_font">Category Best</h2>
        <p class="sub_font">
            <!--                <span th:text="${currentCategory.equals('ALL') ? '전체' : currentCategory}"></span> -->
            전체 베스트 상품입니다
        </p>
    </div>
    <ol class="best_item clearfix">
        <li class="col-3" th:each="popular : ${populars}">
            <div class="out_box">
                <div class='inner-box'>
                    <!--                        <a class='be_item' th:href="@{/item/detail/{id}(id=*{popular.itemDto.id})}">-->
                    <a class='be_item'
                       th:href="@{/item/detail(id=*{popular.itemDto.id}, currentCategory=${currentCategory})}">
                        <img th:src="@{${'/upload/' + popular.itemDto.mainSrcs.get(0).s3Key}}">
                        <div class="best_hover"></div>
                    </a>
                </div>
                <h3 th:text="*{popular.itemDto.nameKor}"></h3>
                <p class="d"><span class="won"></span><span id="id_color"
                                                            th:text="${#numbers.formatInteger(popular.itemDto.price, 3, 'COMMA')}">13,900</span>
                    원</p>
            </div>
        </li>

    </ol>
</section>

<nav class="category_nav">
    <ul class="clearfix category_wrapper">
        <li th:each="categoty : ${categories}">
            <!--                <a th:classappend="*{categoty.categoryName.equals(currentCategory)} ? active" th:href="@{/item(currentCategory=${categoty.categoryName})}" th:utext="*{categoty.categoryName}"></a>-->
            <a th:classappend="*{categoty.categoryName.equals(currentCategory)} ? active"
               th:href="@{/item(currentCategory=${categoty.categoryName})}"
               th:utext="*{#strings.replace(categoty.categoryName, ' ', '<br/>')}" class="category-a"></a>
            <!--                <a th:onclick="'javascript:replace('+ ${categoty.name} +')'" th:utext="*{categoty.name}"></a>-->
        </li>
    </ul>
</nav>

<!-- LIST -->

<section class="skin_care">
    <div class="skin_top">
        <p>
            전체 <span id="id_color" th:text="${itemCount}"></span>개의 제품이 있습니다 [<span id="id_color"
                                                                                    th:text="${categoryItems.getNumberOfElements()}"></span>]
        </p>
    </div>
    <div class="skin_select">
        <a th:each="sort : ${sorts}"
           th:classappend="${#strings.replace(categoryItems.sort, ': ', ',').equals(sort.key)} ? active"
           th:href="@{/item(currentCategory =${currentCategory}, size=${categoryItems.size}, sort=${sort.key})}"
           th:text="*{sort.value}" class="sort-a">
        </a>

    </div>
    <ul class="skn_list clearfix">
        <li class="col-3 item-list" th:each="categoryItem : ${categoryItems}">
            <div class="img-box">
                <a th:href="@{/item/detail(id=*{categoryItem.itemDto.id}, currentCategory=${currentCategory})}">
                    <img th:src="@{${'/upload/' + categoryItem.itemDto.mainSrcs.get(0).s3Key}}">
                </a>
            </div>
            <h3 class="a" th:text="*{categoryItem.itemDto.nameKor}"></h3>
            <p class="b" th:text="*{categoryItem.itemDto.description}"></p>
            <p class="c"><span id="id_color"
                               th:text="${#numbers.formatInteger(categoryItem.itemDto.price, 3, 'COMMA')}"></span> 원</p>
            <div class="cart">
                <img src="/image/list_img/list/cart.png">
            </div>
        </li>
    </ul>
    <div class="more">
        <div>
            <a th:if="${categoryItems.totalElements >= categoryItems.getSize()}"
               th:href="@{/item(currentCategory=${currentCategory}, page=0,
               size=${categoryItems.size + categoryItems.size},
               sort=${#strings.replace(categoryItems.sort, ': ', ',')})}" class="moreView">

                <p>More</p>
                <img src="/image/list_img/list/arrow.png">

            </a>
        </div>
    </div>
</section>

<!-- BOTTOM -->

<div th:replace="partials/bottom :: bottom"/>

<footer th:replace="partials/footer :: footer"/>

<script th:inline="javascript" type="text/javascript">

    function headerStyle() {

        var headerTag = document.getElementsByClassName('head')[0];

        Object.getPrototypeOf('category');

        if (window.pageYOffset == 0) {
            headerTag.classList.remove('active');
        }

        if (window.pageYOffset > 0) {
            headerTag.classList.add('active');
        }
    }

    document.addEventListener('scroll', headerStyle);

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function offset() {

        var offsetParam = getParameterByName('offset');
        var offsetNum = Number(offsetParam);

        window.scroll(0, offsetNum);
    }


    function getHref() {
        var sort = document.getElementsByClassName('sort-a');
        var category = document.getElementsByClassName("category-a");
        var moreView = document.getElementsByClassName('moreView');

        for (var i = 0; i < sort.length; i++) {
            var pageYOffset = window.pageYOffset;
            var attribute = sort[i].getAttribute('href');
            var strings = attribute.split('&offset=');

            sort[i].setAttribute('href', strings[0] + '&offset=' + pageYOffset);
        }

        for (var j = 0; j < category.length; j++) {
            var pageYOffset = window.pageYOffset;
            var attribute = category[j].getAttribute('href');
            var strings = attribute.split('&offset');

            category[j].setAttribute('href', strings[0] + '&offset=' + pageYOffset);
        }

        var moreViewOffset = window.pageYOffset;
        var moreViewAttribute = moreView[0].getAttribute('href');

        var moreViewString = moreViewAttribute.split('&offset=');
        moreView[0].setAttribute('href', moreViewString[0] + '&offset=' + moreViewOffset);

    }

    function sortStyle() {
        var sortATag = document.getElementsByClassName('sort-a');

        for (var i = 0; i < sortATag.length; i++) {
            var attribute = sortATag[i].getAttribute('class');

            if (attribute.includes('active')) {
                console.log('active!!');
                var span = document.createElement('span');
                var img = document.createElement('img');
                img.setAttribute('src', '/image/check.svg');

                span.appendChild(img);
                sortATag[i].prepend(span);
            } else {
                var span = document.createElement('span');
                span.innerHTML = '· ';
                sortATag[i].prepend(span);
            }
        }

    }

    window.addEventListener('scroll', getHref);
    window.addEventListener('load', offset);
    window.addEventListener('load', sortStyle);


</script>
