<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/review.css}">
<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>
<!--<link rel="stylesheet" th:href="@{/css/common_header.css}">-->

<header th:replace="partials/bodyHeader :: bodyHeader" class="head"></header>

<section class="container">

    <form class="form-wrap clearfix" th:action="@{/orders/review}" method="post" enctype="multipart/form-data">
        <div class="btn-box">
            <button type="submit" class="submit">리뷰등록</button>
            <button type="button" class="cancel">취소</button>
        </div>

        <input type="hidden" th:id="orderId" th:name="orderId" th:value="${orderId}">
        <input type="hidden" th:id="memberId" th:name="memberId" th:value="${memberId}">

        <div th:each="reviewDto, i : ${wrapper.reviewDtos}" class="review-form">

            <input type="hidden" th:name="|reviewDtos[${i.index}].itemId|" th:value="${reviewDto.itemDto.id}">

            <div class="form__inner">
                <div class="index-circle">
                    <p th:text="${i.index + 1}"></p>
                </div>
                <div class="img-box">
                    <img th:src="@{'/upload/' + ${reviewDto.itemDto.s3Key}}" alt="" class="item-img">
                    <h4 th:text="${reviewDto.itemDto.name}" class="item-name"></h4>
                    <div class="star-rating-box">
                        <fieldset class="rating">
                            <input type="radio" th:name="|reviewDtos[${i.index}].rating|" th:id="${'star1' + i.index}"
                                   value="1" class="rating-input">
                            <label th:for="${'star1' + i.index}" title="매우만족">
                                <svg class="first-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                                     aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="|reviewDtos[${i.index}].rating|" th:id="${'star2' + i.index}"
                                   value="2" class="rating-input">
                            <label th:for="${'star2' + i.index}" title="만족">
                                <svg class="second-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                                     aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="|reviewDtos[${i.index}].rating|" th:id="${'star3' + i.index}"
                                   value="3" class="rating-input">
                            <label th:for="${'star3' + i.index}" title="보통">
                                <svg class="third-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                                     aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="|reviewDtos[${i.index}].rating|" th:id="${'star4' + i.index}"
                                   value="4" class="rating-input">
                            <label th:for="${'star4' + i.index}" title="불만족">
                                <svg class="fourth-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                                     aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="|reviewDtos[${i.index}].rating|" th:id="${'star5' + i.index}"
                                   value="5" class="rating-input">
                            <label th:for="${'star5' + i.index}" title="매우불만족">
                                <svg class="fifth-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                                     aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>
                        </fieldset>
                    </div>
                </div>

                <div class="content-box">

                    <nav class="content-tab-nav">
                        <button type="button" onclick="textTab(this)" class="text-tab-btn">
                            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M10.239 42.86L45.812 7.328l10.848 10.86L21.086 53.72z"
                                      fill="#a0a0a0" data-name="layer1"></path>
                                <path fill="#a0a0a0"
                                      d="M59.492 15.358l2.259-2.258A7.674 7.674 0 1 0 50.9 2.248L48.639 4.5z"
                                      data-name="layer2"></path>
                                <path d="M7.851 46.135L-.073 64.024 17.816 56.1l-9.965-9.965z"
                                      fill="#a0a0a0" data-name="layer1"></path>
                            </svg>
                        </button>
                        <button type="button" onclick="photoTab(this)" class="photo-tab-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path data-name="layer1"
                                      d="M59 18H46.6L40 10H24l-6.6 8H5a3 3 0 0 0-3 3v30a3 3 0 0 0 3 3h54a3 3 0 0 0 3-3V21a3 3 0 0 0-3-3zM32 48a14 14 0 1 1 14-14 14 14 0 0 1-14 14zm23.4-20.6a2 2 0 0 1-1.4.6 2.1 2.1 0 0 1-1.4-.6A2 2 0 0 1 52 26a2 2 0 0 1 .6-1.4 2.1 2.1 0 0 1 2.8 0A2 2 0 0 1 56 26a2 2 0 0 1-.6 1.4z"
                                      fill="#a0a0a0"></path>
                            </svg>
                        </button>
                    </nav>

                    <div class="tab review-text">
                        <textarea th:id="content" th:name="|reviewDtos[${i.index}].content|" cols="30" rows="13"
                                  class="review-textarea" placeholder="리뷰를 작성해주세요(300자 내외)"></textarea>
                    </div>
                    <div class="tab review-photo clearfix">
                        <p>사진을 추가해 주세요(최대 3장)</p>
                        <output class="output-box clearfix"></output>
                        <label th:for="${'srcs' + i.index}" class="add-img">
                            <span>+</span>
                        </label>
                        <input multiple="multiple" type="file" th:id="${'srcs' + i.index}"
                               th:name="|reviewDtos[${i.index}].srcs|"
                               th:onchange="|handleFileSelect(this, ${i.index})|">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>

<script type="text/javascript">

    var idx = 0;

    // file
    function handleFileSelect(elem, index) {


        var parentElement = elem.parentElement;
        var files = elem.files;

        if (files.length > 3) {
            alert("사진은 3장까지만 가능합니다.");
            return;
        }

        if (window.File && window.FileList && window.FileReader) {

            if (!parentElement.classList.contains('review-photo')) {
                parentElement = parentElement.parentElement;
            }

            var output = parentElement.childNodes[3];

            for (i = 0; i < files.length; i++) {

                var file = files.item(i);
                if (!file.type.match('image')) continue;

                var picReader = new FileReader();

                var obj = {
                    i: i,
                    index: index,
                    output: output,
                    file: file,
                    elem: elem
                };

                picReader.addEventListener('load', loadImg.bind(obj), false);
                picReader.readAsDataURL(file);
            }

            var divTag = document.createElement('div');
            parentElement.appendChild(divTag);

            divTag.innerHTML = '<input multiple="multiple" type="file" id="srcs' + index + '" name="reviewDtos[' + index + '].srcs" onchange="handleFileSelect(this, ' + index + ')">';

            output.style.display = 'inline-block';
            elem.style.display = 'none';
            elem.id = 'srcs' + index + '-' + idx;
            idx++;
        }


    }

    function loadImg() {
        var i = this.i;
        var output = this.output;
        var elem = this.elem;
        var file = this.file;
        var index = this.index;

        var picFile = event.target;
        var div = document.createElement('div');
        var innerDiv = document.createElement('div');

        div.classList = 'preview-box';
        // div.style.backgroundImage = 'url(' + picFile.result + ')';
        innerDiv.classList = 'preview-inner';
        innerDiv.style.backgroundImage = 'url(' + picFile.result + ')';
        innerDiv.style.borderRadius = '5px';
        div.append(innerDiv);
        var btn = document.createElement('button');

        btn.type = 'button';
        btn.classList = 'cancel';
        console.log('index!!!!!!!!!!!!!!!!!!!!!!!');
        btn.setAttribute('onclick', "imgDelete(this, " + index + ")");
        btn.innerText = 'X';

        var btnInner = document.createElement('span');
        btnInner.innerText = file.name;
        btnInner.style.display = 'none';

        btn.append(btnInner);
        div.append(btn);

        output.insertBefore(div, null);

        var previewBoxTags = output.getElementsByClassName('preview-box');
        if (previewBoxTags.length >= 3) {
            console.log('들어왔다!!!');
            var div = elem.parentElement;
            var reviewPhotoTag = div.parentElement;
            var addImgTag = reviewPhotoTag.getElementsByClassName('add-img')[0];
            addImgTag.style.display = 'none';
        }


    }

    // 이미지 미리보기 삭제 & 삭제 될 이미지 이름 저장 (저장 후 controller에서 files for문 돌리면서 삭제)
    function imgDelete(elem, index) {

        var childNodes = elem.childNodes;

        var inputTag = document.createElement('input');
        inputTag.hidden = true;

        var imgName = childNodes[1].innerText;

        inputTag.type = 'text';
        inputTag.id = 'remove';
        inputTag.name = 'reviewDtos[' + index + '].remove';
        inputTag.setAttribute('value', imgName);

        var parentElement = elem.parentElement;

        while (true) {

            if (parentElement.classList == null) {
                continue;
            } else if (parentElement.classList.contains('review-form')) {
                parentElement.appendChild(inputTag);
                break;
            }

            parentElement = parentElement.parentElement;
        }

        var previewBox = elem.parentElement;
        var outputTagForPreviewBoxFind = previewBox.parentElement;

        var previewBoxs = outputTagForPreviewBoxFind.getElementsByClassName('preview-box');
        console.log(previewBoxs);
        if (previewBoxs.length == 1) {

            var previewBoxTag = elem.parentElement;
            var outputTag = previewBoxTag.parentElement;

            outputTag.style.display = 'none';

        } else if (previewBoxs.length == 3) {
            var reviewPhotoBox = outputTagForPreviewBoxFind.parentElement;
            var reviewPhotoBoxChild = reviewPhotoBox.childNodes;
            var addImgTag = reviewPhotoBoxChild[5];
            addImgTag.style.display = 'block';
        }

        previewBox.remove();
    }


    // style
    function textTab(elem) {

        var nav = elem.parentElement;
        var contentBox = nav.parentElement;

        var reviewTextDiv = contentBox.getElementsByClassName('review-text')[0];
        var reviewPhotoDiv = contentBox.getElementsByClassName('review-photo')[0];

        var textTabBtn = contentBox.getElementsByClassName('text-tab-btn')[0];
        var photoTabBtn = contentBox.getElementsByClassName('photo-tab-btn')[0];

        reviewPhotoDiv.style.display = 'none';
        photoTabBtn.style.backgroundColor = '#fff';
        reviewTextDiv.style.display = 'block';
        textTabBtn.style.backgroundColor = '#f1f1f1';
    }

    function photoTab(elem) {

        var nav = elem.parentElement;
        var contentBox = nav.parentElement;

        var reviewTextDiv = contentBox.getElementsByClassName('review-text')[0];
        var reviewPhotoDiv = contentBox.getElementsByClassName('review-photo')[0];

        var textTabBtn = contentBox.getElementsByClassName('text-tab-btn')[0];
        var photoTabBtn = contentBox.getElementsByClassName('photo-tab-btn')[0];

        reviewTextDiv.style.display = 'none';
        textTabBtn.style.backgroundColor = '#fff';
        reviewPhotoDiv.style.display = 'block';
        photoTabBtn.style.backgroundColor = '#f1f1f1';
    }

    var firstStar = document.getElementsByClassName('first-star');
    var secondStar = document.getElementsByClassName('second-star');
    var thirdStar = document.getElementsByClassName('third-star');
    var fourthStar = document.getElementsByClassName('fourth-star');
    var fifthStar = document.getElementsByClassName('fifth-star');

    var fieldSetTag = document.getElementsByTagName('fieldset');

    // function mouseOverTest(evt) {
    //     var target = evt.target;
    //     var label = target.parentElement;
    //     var fieldSet = label.parentElement;
    //
    //     var inputTags = fieldSet.getElementsByTagName('input');
    //
    //     for (i = 0; i < inputTags.length; i++) {
    //         var inputTag = inputTags[i];
    //         if (inputTag.value != null) {
    //             return;
    //         }
    //     }
    // }

    window.onload = function (ev) {

        for (i = 0; i < fieldSetTag.length; i++) {
            firstStar[i].addEventListener('mouseover', function (evt) {

                var target = evt.target;
                var label = target.parentElement;
                var fieldSet = label.parentElement;

                var firstStarPath = target.getElementsByTagName('path')[0];
                firstStarPath.style.fill = '#7ebb34';
                firstStarPath.style.stroke = '#7ebb34';

                var secondStarTag = fieldSet.getElementsByClassName('second-star')[0];
                var secondStarPath = secondStarTag.getElementsByTagName('path')[0];

                secondStarPath.style.fill = 'none';
                secondStarPath.style.stroke = '#555';

                var thirdStarTag = fieldSet.getElementsByClassName('third-star')[0];
                var thirdStarPath = thirdStarTag.getElementsByTagName('path')[0];

                thirdStarPath.style.fill = 'none';
                thirdStarPath.style.stroke = '#555';

                var fourthStarTag = fieldSet.getElementsByClassName('fourth-star')[0];
                var fourthStarPath = fourthStarTag.getElementsByTagName('path')[0];

                fourthStarPath.style.fill = 'none';
                fourthStarPath.style.stroke = '#555';

                var fifthStarTag = fieldSet.getElementsByClassName('fifth-star')[0];
                var fifthStarPath = fifthStarTag.getElementsByTagName('path')[0];

                fifthStarPath.style.fill = 'none';
                fifthStarPath.style.stroke = '#555';

            });
        }

        for (i = 0; i < fieldSetTag.length; i++) {
            secondStar[i].addEventListener('mouseover', function (evt) {

                var target = evt.target;
                var label = target.parentElement;
                var fieldSet = label.parentElement;

                var firstStarTag = fieldSet.getElementsByClassName('first-star')[0];
                var firstStarPath = firstStarTag.getElementsByTagName('path')[0];

                firstStarPath.style.fill = '#7ebb34';
                firstStarPath.style.stroke = '#7ebb34';

                var secondStarPath = target.getElementsByTagName('path')[0];

                secondStarPath.style.fill = '#7ebb34';
                secondStarPath.style.stroke = '#7ebb34';

                var thirdStarTag = fieldSet.getElementsByClassName('third-star')[0];
                var thirdStarPath = thirdStarTag.getElementsByTagName('path')[0];

                thirdStarPath.style.fill = 'none';
                thirdStarPath.style.stroke = '#555';

                var fourthStarTag = fieldSet.getElementsByClassName('fourth-star')[0];
                var fourthStarPath = fourthStarTag.getElementsByTagName('path')[0];

                fourthStarPath.style.fill = 'none';
                fourthStarPath.style.stroke = '#555';

                var fifthStarTag = fieldSet.getElementsByClassName('fifth-star')[0];
                var fifthStarPath = fifthStarTag.getElementsByTagName('path')[0];

                fifthStarPath.style.fill = 'none';
                fifthStarPath.style.stroke = '#555';
            });
        }

        for (i = 0; i < fieldSetTag.length; i++) {
            thirdStar[i].addEventListener('mouseover', function (evt) {

                var target = evt.target;
                var label = target.parentElement;
                var fieldSet = label.parentElement;

                var firstStarTag = fieldSet.getElementsByClassName('first-star')[0];
                var firstStarPath = firstStarTag.getElementsByTagName('path')[0];

                firstStarPath.style.fill = '#7ebb34';
                firstStarPath.style.stroke = '#7ebb34';

                var secondStarTag = fieldSet.getElementsByClassName('second-star')[0];
                var secondStarPath = secondStarTag.getElementsByTagName('path')[0];

                secondStarPath.style.fill = '#7ebb34';
                secondStarPath.style.stroke = '#7ebb34';

                var thirdStarPath = target.getElementsByTagName('path')[0];

                thirdStarPath.style.fill = '#7ebb34';
                thirdStarPath.style.stroke = '#7ebb34';

                var fourthStarTag = fieldSet.getElementsByClassName('fourth-star')[0];
                var fourthStarPath = fourthStarTag.getElementsByTagName('path')[0];

                fourthStarPath.style.fill = 'none';
                fourthStarPath.style.stroke = '#555';

                var fifthStarTag = fieldSet.getElementsByClassName('fifth-star')[0];
                var fifthStarPath = fifthStarTag.getElementsByTagName('path')[0];

                fifthStarPath.style.fill = 'none';
                fifthStarPath.style.stroke = '#555';

            });
        }

        for (i = 0; i < fieldSetTag.length; i++) {
            fourthStar[i].addEventListener('mouseover', function (evt) {

                var target = evt.target;
                var label = target.parentElement;
                var fieldSet = label.parentElement;

                var firstStarTag = fieldSet.getElementsByClassName('first-star')[0];
                var firstStarPath = firstStarTag.getElementsByTagName('path')[0];

                firstStarPath.style.fill = '#7ebb34';
                firstStarPath.style.stroke = '#7ebb34';

                var secondStarTag = fieldSet.getElementsByClassName('second-star')[0];
                var secondStarPath = secondStarTag.getElementsByTagName('path')[0];

                secondStarPath.style.fill = '#7ebb34';
                secondStarPath.style.stroke = '#7ebb34';

                var thirdStarTag = fieldSet.getElementsByClassName('third-star')[0];
                var thirdStarPath = thirdStarTag.getElementsByTagName('path')[0];

                thirdStarPath.style.fill = '#7ebb34';
                thirdStarPath.style.stroke = '#7ebb34';

                var fourthStarPath = target.getElementsByTagName('path')[0];

                fourthStarPath.style.fill = '#7ebb34';
                fourthStarPath.style.stroke = '#7ebb34';

                var fifthStarTag = fieldSet.getElementsByClassName('fifth-star')[0];
                var fifthStarPath = fifthStarTag.getElementsByTagName('path')[0];

                fifthStarPath.style.fill = 'none';
                fifthStarPath.style.stroke = '#555';
            });
        }

        for (i = 0; i < fieldSetTag.length; i++) {
            fifthStar[i].addEventListener('mouseover', function (evt) {

                var target = evt.target;
                var label = target.parentElement;
                var fieldSet = label.parentElement;

                var firstStarTag = fieldSet.getElementsByClassName('first-star')[0];
                var firstStarPath = firstStarTag.getElementsByTagName('path')[0];

                firstStarPath.style.fill = '#7ebb34';
                firstStarPath.style.stroke = '#7ebb34';

                var secondStarTag = fieldSet.getElementsByClassName('second-star')[0];
                var secondStarPath = secondStarTag.getElementsByTagName('path')[0];

                secondStarPath.style.fill = '#7ebb34';
                secondStarPath.style.stroke = '#7ebb34';

                var thirdStarTag = fieldSet.getElementsByClassName('third-star')[0];
                var thirdStarPath = thirdStarTag.getElementsByTagName('path')[0];

                thirdStarPath.style.fill = '#7ebb34';
                thirdStarPath.style.stroke = '#7ebb34';

                var fourthStarTag = fieldSet.getElementsByClassName('fourth-star')[0];
                var fourthStarPath = fourthStarTag.getElementsByTagName('path')[0];

                fourthStarPath.style.fill = '#7ebb34';
                fourthStarPath.style.stroke = '#7ebb34';

                var fifthStarPath = target.getElementsByTagName('path')[0];

                fifthStarPath.style.fill = '#7ebb34';
                fifthStarPath.style.stroke = '#7ebb34';
            });
        }

        for (i = 0; i < fieldSetTag.length; i++) {
            fieldSetTag[i].addEventListener('mouseleave', function (ev1) {

                var target = ev1.target;
                var svgs = target.getElementsByTagName('svg');

                var ratingInputTags = target.getElementsByClassName('rating-input');

                for (i = 0; i < ratingInputTags.length; i++) {
                    var ratingInputTag = ratingInputTags[i];
                    if (ratingInputTag.checked == true) {

                        var value = ratingInputTag.value;

                        for (i = 0; i < svgs.length; i++) {
                            if (i < value) {
                                var svg = svgs[i];
                                var path = svg.getElementsByTagName('path')[0];

                                path.style.fill = '#7ebb34';
                                path.style.stroke = '#7ebb34';
                            } else {
                                var svg1 = svgs[i];
                                var path1 = svg1.getElementsByTagName('path')[0];

                                path1.style.fill = 'none';
                                path1.style.stroke = '#555';
                            }
                        }

                        return;
                    }
                }

                var svgs = target.getElementsByClassName('star');

                for (i = 0; i < svgs.length; i++) {
                    var pathTag = svgs[i].getElementsByTagName('path')[0];
                    pathTag.style.fill = 'none';
                    pathTag.style.stroke = '#555';
                }

            });
        }

    };

    // function allSubmit() {
    //
    //     var forms = document.getElementsByTagName('form');
    //
    //     for (i = 0; i < forms.length; i++) {
    //         if (i == (forms.length - 1)) {
    //             var lastForm = forms[i];
    //
    //             var orderIdInput = document.getElementById('orderId');
    //             var orderIdVal = orderIdInput.value;
    //
    //             var inputTag = document.createElement('input');
    //             inputTag.type = 'hidden';
    //             inputTag.name = 'orderId';
    //             inputTag.value = orderIdVal;
    //
    //             lastForm.append(inputTag);
    //
    //             lastForm.submit();
    //         }
    //         forms[i].submit();
    //
    //     }
    //
    // }

</script>