<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/review.css}">
<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>
<!--<link rel="stylesheet" th:href="@{/css/common_header.css}">-->

<header th:replace="partials/bodyHeader :: bodyHeader" class="head"></header>

<section class="container">

    <div class="form-wrap clearfix">
        <div class="btn-box">
            <button type="submit">리뷰등록</button>
            <button type="button">취소</button>
        </div>

        <form th:action="@{/order/review}" method="post" th:each="reviewDto, i : ${reviewDtos}">

            <div class="form__inner">
                <div class="index-circle">
                    <p th:text="${i.index + 1}"></p>
                </div>
                <div class="img-box">
                    <img th:src="@{'/upload/' + ${reviewDto.itemDto.s3Key}}" alt="" class="item-img">
                    <h4 th:text="${reviewDto.itemDto.name}" class="item-name"></h4>
                    <div class="star-rating-box">
                        <fieldset class="rating">
                            <input type="radio" th:name="${reviewDto.rating}" id="star5" value="5">
                            <label th:for="star5" title="매우만족">
                                <svg class="first-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="${reviewDto.rating}" id="star4" value="4">
                            <label th:for="star4" title="만족">
                                <svg class="second-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="${reviewDto.rating}" id="star3" value="3">
                            <label th:for="star3" title="보통">
                                <svg class="third-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="${reviewDto.rating}" id="star2" value="2">
                            <label th:for="star2" title="불만족">
                                <svg class="fourth-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>

                            <input type="radio" th:name="${reviewDto.rating}" id="star1" value="1">
                            <label th:for="star1" title="매우불만족">
                                <svg class="fifth-star star" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M32 48L15 58l4-19L5 26l19-2 8-18 8 18 19 2-14 13 4 19-17-10z"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke="#555555"
                                          fill="none" data-name="layer1" stroke-linejoin="round"></path>
                                </svg>
                            </label>
                        </fieldset>
                    </div>
                </div>

                <div class="content-box">

                    <nav class="content-tab-nav">
                        <button type="button" onclick="textTab()" class="text-tab-btn">
                            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M10.239 42.86L45.812 7.328l10.848 10.86L21.086 53.72z"
                                      fill="#a0a0a0" data-name="layer1"></path>
                                <path fill="#a0a0a0" d="M59.492 15.358l2.259-2.258A7.674 7.674 0 1 0 50.9 2.248L48.639 4.5z"
                                      data-name="layer2"></path>
                                <path d="M7.851 46.135L-.073 64.024 17.816 56.1l-9.965-9.965z"
                                      fill="#a0a0a0" data-name="layer1"></path>
                            </svg>
                        </button>
                        <button type="button" onclick="photoTab()" class="photo-tab-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path data-name="layer1"
                                      d="M59 18H46.6L40 10H24l-6.6 8H5a3 3 0 0 0-3 3v30a3 3 0 0 0 3 3h54a3 3 0 0 0 3-3V21a3 3 0 0 0-3-3zM32 48a14 14 0 1 1 14-14 14 14 0 0 1-14 14zm23.4-20.6a2 2 0 0 1-1.4.6 2.1 2.1 0 0 1-1.4-.6A2 2 0 0 1 52 26a2 2 0 0 1 .6-1.4 2.1 2.1 0 0 1 2.8 0A2 2 0 0 1 56 26a2 2 0 0 1-.6 1.4z"
                                      fill="#a0a0a0"></path>
                            </svg>
                        </button>
                    </nav>

                    <div class="tab review-text">
                        <textarea th:id="${reviewDto.content}" th:name="${reviewDto.content}" cols="30" rows="10">리뷰를 작성해주세요.(300자 내외)</textarea>
                    </div>
                    <div class="tab review-photo">
                        <label th:for="itemSrcs" class="add-img">+</label>
                        <input multiple="multiple" type="file" th:id="${reviewDto.srcs}" th:name="${reviewDto.srcs}">
                    </div>
                </div>
            </div>



        </form>
    </div>
</section>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>

<script type="text/javascript">

    var reviewTextDiv = document.getElementsByClassName('review-text')[0];
    var reviewPhotoDiv = document.getElementsByClassName('review-photo')[0];

    function textTab() {
        reviewPhotoDiv.style.display = 'none';
        reviewTextDiv.style.display = 'block';
    }

    function photoTab() {
        reviewTextDiv.style.display = 'none';
        reviewPhotoDiv.style.display = 'block';
    }

    var firstStar = document.getElementsByClassName('first-star')[0];
    var firstStarPath = firstStar.getElementsByTagName('path')[0];

    var secondStar = document.getElementsByClassName('second-star')[0];
    var secondStarPath = secondStar.getElementsByTagName('path')[0];

    var thirdStar = document.getElementsByClassName('third-star')[0];
    var thirdStarPath = thirdStar.getElementsByTagName('path')[0];

    var fourthStar = document.getElementsByClassName('fourth-star')[0];
    var fourthStarPath = fourthStar.getElementsByTagName('path')[0];

    var fifthStar = document.getElementsByClassName('fifth-star')[0];
    var fifthStarPath = fifthStar.getElementsByTagName('path')[0];

    var fieldSetTag = document.getElementsByTagName('fieldset')[0];

    window.onload = function (ev) {

        firstStar.addEventListener('mouseover', function (evt) {
            firstStarPath.style.fill = '#7ebb34';
            firstStarPath.style.stroke = '#7ebb34';

            secondStarPath.style.fill = 'none';
            secondStarPath.style.stroke = '#555';

            thirdStarPath.style.fill = 'none';
            thirdStarPath.style.stroke = '#555';

            fourthStarPath.style.fill = 'none';
            fourthStarPath.style.stroke = '#555';

            fifthStarPath.style.fill = 'none';
            fifthStarPath.style.stroke = '#555';

        });

        secondStar.addEventListener('mouseover', function (evt) {
            firstStarPath.style.fill = '#7ebb34';
            firstStarPath.style.stroke = '#7ebb34';

            secondStarPath.style.fill = '#7ebb34';
            secondStarPath.style.stroke = '#7ebb34';

            thirdStarPath.style.fill = 'none';
            thirdStarPath.style.stroke = '#555';

            fourthStarPath.style.fill = 'none';
            fourthStarPath.style.stroke = '#555';

            fifthStarPath.style.fill = 'none';
            fifthStarPath.style.stroke = '#555';
        });

        thirdStar.addEventListener('mouseover', function (evt) {
            firstStarPath.style.fill = '#7ebb34';
            firstStarPath.style.stroke = '#7ebb34';

            secondStarPath.style.fill = '#7ebb34';
            secondStarPath.style.stroke = '#7ebb34';

            thirdStarPath.style.fill = '#7ebb34';
            thirdStarPath.style.stroke = '#7ebb34';

            fourthStarPath.style.fill = 'none';
            fourthStarPath.style.stroke = '#555';

            fifthStarPath.style.fill = 'none';
            fifthStarPath.style.stroke = '#555';
        });

        fourthStar.addEventListener('mouseover', function (evt) {
            firstStarPath.style.fill = '#7ebb34';
            firstStarPath.style.stroke = '#7ebb34';

            secondStarPath.style.fill = '#7ebb34';
            secondStarPath.style.stroke = '#7ebb34';

            thirdStarPath.style.fill = '#7ebb34';
            thirdStarPath.style.stroke = '#7ebb34';

            fourthStarPath.style.fill = '#7ebb34';
            fourthStarPath.style.stroke = '#7ebb34';

            fifthStarPath.style.fill = 'none';
            fifthStarPath.style.stroke = '#555';
        });

        fifthStar.addEventListener('mouseover', function (evt) {
            firstStarPath.style.fill = '#7ebb34';
            firstStarPath.style.stroke = '#7ebb34';

            secondStarPath.style.fill = '#7ebb34';
            secondStarPath.style.stroke = '#7ebb34';

            thirdStarPath.style.fill = '#7ebb34';
            thirdStarPath.style.stroke = '#7ebb34';

            fourthStarPath.style.fill = '#7ebb34';
            fourthStarPath.style.stroke = '#7ebb34';

            fifthStarPath.style.fill = '#7ebb34';
            fifthStarPath.style.stroke = '#7ebb34';
        });

        fieldSetTag.addEventListener('mouseleave', function (ev1) {
            var svgs = document.getElementsByClassName('star');

            for (i = 0; i < svgs.length; i++) {
                var pathTag = svgs[i].getElementsByTagName('path')[0];
                pathTag.style.fill = 'none';
                pathTag.style.stroke = '#555';
            }

        });

    }

</script>