<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/myPage.css}">
<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>

<div th:replace="partials/bodyHeader :: bodyHeader"/>

<section class="container">


    <ul class="order-wrapper clearfix">

        <li class="order__list left">
            <div class="title-box">
                <h2>마이페이지</h2>
                <p>
                    네이처 리퍼블릭은<br>
                    자연의 완벽함을 믿습니다.
                </p>
            </div>
            <nav class="order-nav">
                <a href="#" th:classappend="${nav == 'index' ? 'active' : ''}">주문 배송 조회</a><br>
                <a href="#">취소/반품 조회</a><br>
                <a href="#">포인트</a><br>
                <a href="#">찜 리스트</a><br>
                <a href="#">상품 Q&A</a><br>
                <a href="#">구매후기</a><br>
                <a href="#">회원정보수정</a>
            </nav>
        </li>

        <li class="order__list right" th:object="${memberDto}">
            <div class="preview-box">
                <p class="welcome">
                    <span class="name" th:text="*{name}"></span><span>님 환영합니다.</span>
                </p>
                <div class="preview__detail clearfix">
                    <div class="preview__list delivery">
                        <div class="preview__inner">
                            <h4>배송중</h4>
                            <p>
                                <span class="bold" th:text="${onGoing}"></span>
                                <span>건</span>
                            </p>
                        </div>

                    </div>

                    <div class="preview__list points">
                        <div class="preview__inner">
                            <h4>포인트</h4>
                            <p>
                                <span class="bold" th:text="*{points}"></span>
                                <span>P</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-box">
                <h3>주문 배송 조회</h3>

                <ul class="list-wrap clearfix">
                    <li class="list__item top-line clearfix">
                        <div class="list__inner date">
                            <p>주문날짜</p>
                        </div>
                        <div class="list__inner info">
                            <p>상품정보</p>
                        </div>
                        <div class="list__inner state">
                            <p>상태</p>
                        </div>
                        <div class="list__inner confirm">
                            <p>확인</p>
                        </div>
                    </li>
                    <li class="list__item content clearfix" th:each="order : ${memberDto.orders}">
                        <div class="list__inner date">
                            <p th:text="${order.orderDateTime}"></p>
                        </div>
                        <div class="list__inner info">
                            <a th:href="@{/myPage/detail(id=${order.id})}">
                                <img th:src="@{${'/upload/' + order.orderItemDto.s3Key}}" alt="">
                            </a>

                            <a th:href="@{/myPage/detail(id=${order.id})}">
                                <span th:text="${order.orderItemDto.name}"></span>
                                <span th:if="${order.itemQuantity > 1}" th:text="${' 외' + order.itemQuantity + ' 건'}"></span>
                            </a>
                        </div>
                        <div class="list__inner state">
                            <p th:text="${order.orderStatus}"></p>
                        </div>
                        <div class="list__inner confirm">
                            <button type="button">주문상세보기</button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

    </ul>

</section>