<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/mypage/myPage.css}">
<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>

<div th:replace="partials/bodyHeader :: bodyHeader"/>

<section class="container">


    <ul class="orders-wrapper clearfix">

        <li class="order__list left">
            <div class="title-box">
                <h2>마이페이지</h2>
                <p>
                    네이처 리퍼블릭은<br>
                    자연의 완벽함을 믿습니다.
                </p>
            </div>
            <nav class="orders-nav">
                <a th:href="@{/myPage}" class="active">주문 배송 조회</a><br>
                <a href="#">취소/반품 조회</a><br>
                <a href="#">포인트</a><br>
                <a th:href="@{/myPage/likes}">찜 리스트</a><br>
                <a th:href="@{/myPage/qna}">상품 Q&A</a><br>
                <a th:href="@{/myPage/reviews}">구매후기</a><br>
                <a href="#">회원정보수정</a>
            </nav>
        </li>

        <li class="order__list right" th:object="${memberDto}">
            <div class="preview-box">
                <p class="welcome">
                    <span class="name" th:text="*{name}"></span><span>님 환영합니다.</span>
                </p>
                <div class="preview__detail clearfix">
                    <div class="preview__list delivery">
                        <div class="preview__inner">
                            <h4>배송중</h4>
                            <p>
                                <span class="bold" th:text="${onGoing}"></span>
                                <span>건</span>
                            </p>
                        </div>

                    </div>

                    <div class="preview__list points">
                        <div class="preview__inner">
                            <h4>포인트</h4>
                            <p>
                                <span class="bold" th:text="*{points}"></span>
                                <span>P</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-box">
                <h3>주문 배송 조회</h3>

                <ul class="list-wrap clearfix">
                    <li class="list__item top-line clearfix">
                        <div class="list__inner date">
                            <p>주문날짜</p>
                        </div>
                        <div class="list__inner info">
                            <p>상품정보</p>
                        </div>
                        <div class="list__inner state">
                            <p>상태</p>
                        </div>
                        <div class="list__inner confirm">
                            <p>확인</p>
                        </div>
                    </li>
                    <li class="list__item content clearfix" th:if="${memberDto != null}" th:each="orderPage : ${orderPages}">
                        <div class="list__inner date">
                            <p th:text="${#temporals.format(orderPage.orderDateTime, 'yyyy-MM-dd')}"></p>
                        </div>
                        <div class="list__inner info">
                            <a th:href="@{/myPage/detail(id=${orderPage.id})}">
                                <img th:src="@{${'/upload/' + orderPage.orderItemDto.s3Key}}" alt="">
                            </a>

                            <a th:href="@{/myPage/detail(id=${orderPage.id})}">
                                <span th:text="${orderPage.orderItemDto.name}"></span>
                                <span th:if="${orderPage.itemQuantity > 1}" th:text="${' 외 ' + (orderPage.itemQuantity - 1) + '건'}" class="if-more"></span>
                            </a>
                        </div>
                        <div class="list__inner state">
                            <p th:if="${orderPage.deliveryStatus == 'READY'}">상품준비중</p>
                            <p th:if="${orderPage.deliveryStatus == 'ONGOING'}" class="active">배송중</p>
                            <p th:if="${orderPage.deliveryStatus == 'COMP' && orderPage.orderStatus != 'COMP'}">배송완료</p>
                            <p th:if="${orderPage.deliveryStatus == 'COMP' && orderPage.orderStatus == 'COMP'}">주문완료</p>
                        </div>
                        <div class="list__inner confirm">
                            <button type="button">주문상세보기</button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

    </ul>

</section>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>