<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/mypage/likes.css}">

<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>

<div th:replace="partials/bodyHeader :: bodyHeader"/>

<section class="container">

    <ul class="order-wrapper clearfix">

        <li class="order__list left">
            <div class="title-box">
                <h2>마이페이지</h2>
                <p>
                    네이처 리퍼블릭은<br>
                    자연의 완벽함을 믿습니다.
                </p>
            </div>
            <nav class="order-nav">
                <a th:href="@{/myPage}" >주문 배송 조회</a><br>
                <a href="#">취소/반품 조회</a><br>
                <a href="#">포인트</a><br>
                <a href="#" th:classappend="${nav == 'likes' ? 'active' : ''}">찜 리스트</a><br>
                <a href="#">상품 Q&A</a><br>
                <a href="#">구매후기</a><br>
                <a href="#">회원정보수정</a>
            </nav>
        </li>

        <li class="order__list right">
            <div class="title-box">
                <h3>찜 리스트</h3>
                <p>관심 상품 목록입니다.</p>

                <div class="btn-box">
                    <button type="button">모두선택</button>
                    <button type="button">삭제</button>
                </div>
            </div>

            <div class="item-wrap clearfix">
                <div class="item__list" th:each="likeDto : ${likeDtos}">
                    <div class="inner-box">
                        <a th:href="@{/item/detail(id=*{likeDto.itemId})}">
                            <div class="img-box">
                                <img th:src="@{${'/upload/' + likeDto.s3Key}}" alt="">
                            </div>
                            <div class="item-name">
                                <p th:text="*{likeDto.itemName}"></p>
                            </div>
                            <p class="item-price">
                                <span class="bold" th:text="*{#numbers.formatInteger((likeDto.itemPrice), 3, 'COMMA')}"></span>
                                <span>원</span>
                            </p>
                        </a>

                    </div>
                </div>
            </div>

        </li>

    </ul>

</section>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>

<script type="text/javascript">



</script>