<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/mypage/orderDetail.css}">
<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>

<div th:replace="partials/bodyHeader :: bodyHeader"/>

<section class="container">


    <ul class="order-wrapper clearfix">

        <li class="order__list left">
            <div class="title-box">
                <h2>마이페이지</h2>
                <p>
                    네이처 리퍼블릭은<br>
                    자연의 완벽함을 믿습니다.
                </p>
            </div>
            <nav class="order-nav">
                <a th:href="@{/myPage}" class="active">주문 배송 조회</a><br>
                <a href="#">취소/반품 조회</a><br>
                <a href="#">포인트</a><br>
                <a th:href="@{/myPage/likes}">찜 리스트</a><br>
                <a th:href="@{/myPage/qna}">상품 Q&A</a><br>
                <a th:href="@{/myPage/reviews}">구매후기</a><br>
                <a href="#">회원정보수정</a>
            </nav>
        </li>

        <li class="order__list right">

            <div class="list-box">
                <h3>주문 배송 조회</h3>

                <div class="status-box">
                    <span th:if="${orderDtos.deliveryStatus == 'READY'}" class="status">· 배송준비중</span>
                    <span th:if="${orderDtos.deliveryStatus == 'ONGOING'}" class="status">· 배송중</span>
                    <span th:if="${orderDtos.deliveryStatus == 'COMP' && orderDtos.orderStatus != 'COMP'}" class="status">· 배송완료</span>
                    <span th:if="${orderDtos.deliveryStatus == 'COMP' && orderDtos.orderStatus == 'COMP'}" class="status">· 주문완료</span>
                </div>

                <div th:if="${orderDtos.deliveryStatus == 'READY'}" class="top-btn-box">
                    <button type="button" class="top-btn">주문취소</button>
                </div>

                <div th:if="${orderDtos.deliveryStatus == 'ONGOING'}" class="top-btn-box">
                    <button type="button" class="top-btn">배송조회</button>
                    <button type="button" class="top-btn" id="order-confirm">구매확정</button>
                    <button type="button" class="top-btn">교환/환불신청</button>
                </div>

                <div th:if="${orderDtos.deliveryStatus == 'COMP' && orderDtos.orderStatus != 'COMP'}" class="top-btn-box">
                    <button type="button" class="top-btn">구매확정</button>
                    <button type="button" class="top-btn">교환/환불신청</button>
                </div>


                <ul class="list-wrap clearfix">
                    <li class="list__item top-line clearfix">
                        <div class="list__inner date">
                            <p>상품번호</p>
                        </div>
                        <div class="list__inner info">
                            <p>상품정보</p>
                        </div>
                        <div class="list__inner count">
                            <p>수량</p>
                        </div>
                        <div class="list__inner price">
                            <p>가격</p>
                        </div>
                    </li>
                    <li class="list__item content clearfix" th:each="orderItemDto : ${orderDtos.orderItemDtos}">
                        <div class="list__inner date">
                            <p th:text="${orderItemDto.itemId}"></p>
                        </div>
                        <div class="list__inner info">
                            <a th:href="@{/item/detail(id=${orderItemDto.itemId})}">
                                <img th:src="@{${'/upload/' + orderItemDto.s3Key}}" alt="">
                            </a>

                            <a th:href="@{/item/detail(id=${orderItemDto.itemId})}">
                                <span th:text="${orderItemDto.name}"></span>
                            </a>
                        </div>
                        <div class="list__inner count">
                            <p th:text="${orderItemDto.count}"></p>
                        </div>
                        <div class="list__inner price">
                            <p th:text="${#numbers.formatInteger((orderItemDto.itemPrice * orderItemDto.count), 3, 'COMMA')}"></p>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="info-wrapper clearfix">
                <div class="info__list delivery">
                    <h3>배송정보</h3>
                    <div class="inner__div">
                        <h4>받는사람</h4>
                        <p th:text="${orderDtos.addressee}"></p>

                        <h4>연락처</h4>
                        <p th:text="${orderDtos.phoneNumber}"></p>

                        <h4>배송주소</h4>
                        <p th:text="${orderDtos.mainAddress}"></p>

                        <h4>우편번호</h4>
                        <p th:text="${orderDtos.detailAddress}"></p>

                        <h4>배송메모</h4>
                        <p th:text="${orderDtos.deliveryMemo}"></p>
                    </div>
                </div>

                <div class="info__list pay">
                    <h3>결제정보</h3>
                    <div class="inner__div">
                        <div class="total">
                            <h4>총 결제금액</h4>
                            <p>
                                <span th:text="${#numbers.formatInteger((orderDtos.totalPrice), 3, 'COMMA')}" class="bold"></span><span class="small">원</span>
                            </p>
                        </div>

                        <h4>상품금액</h4>
                        <p>
                            <span th:text="${#numbers.formatInteger((orderDtos.totalItemPrice), 3, 'COMMA')}"></span><span class="small">원</span>
                        </p>

                        <h4>배송료</h4>
                        <p>
                            <span th:if="${orderDtos.deliveryPrice > 0}">
                                <span th:text="${#numbers.formatInteger((orderDtos.deliveryPrice), 3, 'COMMA')}"></span><span class="small">원</span>
                            </span>
                            <span th:unless="${orderDtos.deliveryPrice > 0}">
                                <span>0</span><span class="small">원</span>
                            </span>
                        </p>

                        <h4>할인금액</h4>
                        <p>
                            <span th:if="${orderDtos.totalDiscount > 0}">
                                <span th:text="${#numbers.formatInteger((orderDtos.totalDiscount), 3, 'COMMA')}"></span><span class="small">원 (-)</span>
                            </span>
                            <span th:unless="${orderDtos.totalDiscount > 0}">
                                <span>0</span><span class="small">원 (-)</span>
                            </span>
                        </p>

                        <h4>사용포인트</h4>
                        <p>
                            <span th:text="${orderDtos.usePoints == null ? 0 : orderDtos.usePoints}"></span><span class="small">P (-)</span>
                        </p>
                    </div>
                </div>
            </div>
        </li>

    </ul>

</section>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>

<div id="order-confirm-modal" class="modal">
    <div class="modal-content">
        <input type="hidden" th:value="${orderDtos.id}">
        <input type="hidden" th:value="${memberId}">
        <span class="close">&times;</span>
        <h2>구매확정을 하시겠습니까?</h2>
        <h3>리뷰를 쓰시면 추가 포인트를 얻으실 수 있습니다.</h3>
        <button type="button" class="without-review">구매확정</button>
        <button type="button" class="review" th:onclick="|window.location.href='@{/order/review(orderId=${orderDtos.id}, memberId=${memberId})}'|">리뷰쓰기 (추가 포인트 15P)</button>
    </div>
</div>

<script type="text/javascript">

    var orderConfirmModal = document.getElementById('order-confirm-modal');

    var orderConfirmButton = document.getElementById('order-confirm');

    orderConfirmButton.onclick = function () {
        orderConfirmModal.classList.add('active');
    };

    var modalClose = document.getElementsByClassName('close')[0];
    modalClose.onclick = function () {
        orderConfirmModal.classList.remove('active');
    };

    window.addEventListener('click', function (ev) {
        if (ev.target == orderConfirmModal) {
            orderConfirmModal.classList.remove('active');
        }
    });

    var withoutReviewBtn = document.getElementsByClassName('without-review')[0];

    withoutReviewBtn.onclick = function (event) {
        console.log('들어왔다!!!!!');
        var target = event.target;
        var parentElement = target.parentElement;

        var orderIdInput = parentElement.childNodes[1];
        var orderId = orderIdInput.value;

        console.log('orderId >> ' + orderId);
        console.log('orderId type >> ' + typeof orderId);

        console.log(parentElement.childNodes);

        var memberIdInput = parentElement.childNodes[3];
        var memberId = memberIdInput.value;

        console.log('memberId >> ' + memberId);
        console.log('memberId type >> ' + typeof memberId);

        debugger;

        var formTag = document.createElement('form');
        formTag.method = 'post';
        formTag.action = '/order/complete';
        formTag.style.display = 'none';

        var inputTag = document.createElement('input');
        inputTag.type = 'hidden';
        inputTag.name = 'orderId';
        inputTag.value = orderId;

        var reviewInputTag = document.createElement('input');
        reviewInputTag.type = 'hidden';
        reviewInputTag.name = 'isReview';
        reviewInputTag.value = 'false';

        var memberIdTag = document.createElement('input');
        memberIdTag.type = 'hidden';
        memberIdTag.name = 'memberId';
        memberIdTag.value = memberId;

        var methodInput = document.createElement('input');
        methodInput.type = 'hidden';
        methodInput.name = '_method';
        methodInput.value = 'patch';

        formTag.append(inputTag);
        formTag.append(reviewInputTag);
        formTag.append(memberIdTag);
        formTag.append(methodInput);

        document.body.append(formTag);

        formTag.submit();

        // window.location.href = '/order/complete?id=' + orderId + '&review=no';
    }



</script>