<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/mypage/reviews.css}">
<style>
    header {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15) !important;
    }
</style>


<div th:replace="partials/bodyHeader :: bodyHeader"/>

<section class="container">

    <ul class="order-wrapper clearfix">

        <li class="order__list left">
            <div class="title-box">
                <h2>마이페이지</h2>
                <p>
                    네이처 리퍼블릭은<br>
                    자연의 완벽함을 믿습니다.
                </p>
            </div>
            <nav class="order-nav">
                <a th:href="@{/myPage}">주문 배송 조회</a><br>
                <a href="#">취소/반품 조회</a><br>
                <a href="#">포인트</a><br>
                <a th:href="@{/myPage/likes}">찜 리스트</a><br>
                <a th:href="@{/myPage/qna}">상품 Q&A</a><br>
                <a th:href="@{/myPage/reviews}" class="active">구매후기</a><br>
                <a href="#">회원정보수정</a>
            </nav>
        </li>

        <li class="order__list right">
            <div class="title-box">
                <h3>구매후기</h3>
                <p>구입한 상품들의 후기 내역입니다.</p>
            </div>

            <div class="empty-box" th:if="${reviewDtos.isEmpty()}">
                <p>문의 내역이 없습니다!</p>
            </div>

            <div th:unless="${reviewDtos.isEmpty()}" class="content-box" th:each="reviewDto : ${reviewDtos}">

                <div class="content__inner">

                    <button type="button" onclick="showContent(this)" class="show-content-btn"></button>

                    <div class="info-box">
                        <h4 >
                            <span th:text="*{#strings.abbreviate((reviewDto.content), 30)}"></span>
                            <span th:if="${!reviewDto.reviewSrcs.isEmpty()}" class="if-photo-exist">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <circle data-name="layer2"
                                          cx="42" cy="34" r="6" fill="#a0a0a0"></circle>
                                  <path data-name="layer2" fill="#a0a0a0" d="M8 10h10v4H8z"></path>
                                  <path data-name="layer1" d="M59 18h-2.4L50 10H34l-6.6 8H5a3 3 0 0 0-3 3v30a3 3 0 0 0 3 3h54a3 3 0 0 0 3-3V21a3 3 0 0 0-3-3zM12 32a4 4 0 1 1 4-4 4 4 0 0 1-4 4zm30 16a14 14 0 1 1 14-14 14 14 0 0 1-14 14z"
                                        fill="#a0a0a0"></path>
                                </svg>
                            </span>
                        </h4>

                        <p class="item-name">
                            <span>상품명:</span>
                            <span th:text="*{reviewDto.itemName}"></span>
                        </p>

                        <p class="date">
                            <span>날짜:</span>
                            <span th:text="*{#temporals.format((reviewDto.wroteAt), 'yyyy-MM-dd, HH:mm')}"></span>
                        </p>
                    </div>

                    <div class="img-absolute">
                        <img th:src="@{${'/upload/' + reviewDto.itemSrc.s3Key}}" alt="">
                    </div>

                    <div class="like-absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                             aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Heart</title>
                            <desc>A line styled icon from Orion Icon Library.</desc>
                            <path data-name="layer1"
                                  d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z"
                                  fill="none" stroke="#555555" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                        </svg>
                        <p th:text="${reviewDto.likes}"></p>
                    </div>

                </div>

                <div class="review-box">

                    <form th:action="@{/review/delete}" method="post" class="qna-delete-form">
                        <input type="hidden" name="reviewId" th:value="${reviewDto.reviewId}">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">삭제</button>
                    </form>

                    <div th:if="${!reviewDto.reviewSrcs.isEmpty()}" class="img-box">
                        <div class="img-wrap" th:each="img, i : ${reviewDto.reviewSrcs}" th:style="|background-image: url('/upload/${img.s3Key}')|">
                            <button type="button" onclick="showModal(this)"></button>
                            <input type="hidden" th:value="${img.s3Key}">
                        </div>
<!--                        <img th:each="img : ${reviewDto.reviewSrcs}" th:src="@{'/upload/' + ${img.s3Key}}" alt="">-->
                    </div>
                    <div class="text-box">
                        <p th:utext="${#strings.replace(reviewDto.content, newLineChar, '&lt;br /&gt;')}"></p>
                    </div>
                </div>

            </div>
        </li>

    </ul>

</section>

<div id="confirm-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path data-name="layer1" d="M53.122 48.88L36.243 32l16.878-16.878a3 3 0 0 0-4.242-4.242L32 27.758l-16.878-16.88a3 3 0 0 0-4.243 4.243l16.878 16.88-16.88 16.88a3 3 0 0 0 4.243 4.241L32 36.243l16.878 16.88a3 3 0 0 0 4.244-4.243z"
                fill="#ffffff"></path>
            </svg>
        </span>
    </div>
</div>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>

<script type="text/javascript">

    // MODAL

    window.onload = function (ev) {

        var modal = document.getElementsByClassName('modal')[0];
        modal.addEventListener('click', function (evt) {
            modal.classList.remove('active');
        });

        var modalContent = document.getElementsByClassName('modal-content')[0];
        modalContent.addEventListener('click', function (evt) {
            evt.stopPropagation();
        });

    };
    
    function showModal(elem) {

        var imgWrap = elem.parentElement;
        var imgNameInput = imgWrap.getElementsByTagName('input')[0];
        var imgName = imgNameInput.value;

        var modal = document.getElementsByClassName('modal')[0];
        modal.classList.add('active');

        var imgTag = document.createElement('img');
        imgTag.src = '/upload/' + imgName;
        imgTag.style.width = 'fit-content';
        imgTag.style.borderRadius = '5px';

        var modalContent = modal.getElementsByClassName('modal-content')[0];

        var removeImg = modalContent.getElementsByTagName('img')[0];

        if (removeImg != null) {
            removeImg.remove();
        }

        modalContent.append(imgTag);

    }

    function closeModal() {
        var modal = document.getElementsByClassName('modal')[0];
        modal.classList.remove('active');
    }

    function showContent(elem) {

        var contentInner = elem.parentElement;
        var contentBox = contentInner.parentElement;
        var reviewBox = contentBox.getElementsByClassName('review-box')[0];

        if (!reviewBox.classList.contains('active')) {

            var reviewBoxAll = document.getElementsByClassName('review-box');
            for (i = 0; i < reviewBoxAll.length; i++) {
                var reviewBoxOne = reviewBoxAll[i];
                if (reviewBoxOne.classList.contains('active')) {
                    reviewBoxOne.classList.remove('active');
                }
            }

            reviewBox.classList.add('active');

        } else {
            reviewBox.classList.remove('active');
        }



    }

</script>