<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="bodyHeader" class="head">
    <nav>
        <a href="/" class="logo_a">
            <span class="logo_helper"></span>
            <img src="/image/NATURE%20REPUBLIC_white_back.png" class="logo">
        </a>
        <ul class="menu">
            <li>
                <a href="/brand">브랜드</a>
            </li>
            <li>
                <a href="/item">상품</a>
            </li>
            <li>
                <a href="#">이벤트</a>
            </li>
            <li>
                <a href="#">뉴스</a>
            </li>
            <li>
                <a href="#">커뮤니티</a>
            </li>
        </ul>
        <ul class="icon" sec:authorize="isAuthenticated()">
            <li class="a1">
                <a href="/logout">
                    <span class="helper"></span>
                    <img src="/image/top_icon1.png">
                </a>
            </li>
            <li class="a2">
                <a href="#">
                    <div class="cart_inner">
                        <span class="helper"></span>
                        <img src="/image/top_icon2.png">
                        <div class="cart_number">
                            <img src="/image/cart_number.png">
                            <p>0</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="a3">
                <a href="#">
                    <span class="helper"></span>
                    <img src="/image/top_icon3.png">
                </a>
            </li>

        </ul>
        <ul class="icon" sec:authorize="isAnonymous()">
            <li class="a1">
                <a href="/login" class="login_btn_gray">
                    로그인
                </a>
            </li>
        </ul>
    </nav>
</header>