<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/grid.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <!-- <link rel="stylesheet" href="/static/css/nature_republic_detail.css?v=<%= timestamp %>" />
    <link rel="stylesheet" href="/static/css/nature_republic_list.css?v=<%= timestamp %>" /> -->

    <script type="text/javascript" src="/js/jquery.js"> </script>
    <script type="text/javascript" src="/js/nature_republic.js"> </script>
</head>
<!--<body>-->
