*{
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -.025em;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.login_btn_white {
    padding: 7px 17px;
    display: inline-block;
    background-color: #fff;
    height: auto;
    line-height: 1.5;
    border-radius: 100px;
    font-size: 14px;
    color: #555;
    background-color: rgba(255, 255, 255, .9);
}

.login_btn_gray {
    padding: 7px 17px;
    display: inline-block;
    height: auto;
    line-height: 1.5;
    border-radius: 100px;
    font-size: 14px;
    color: #fff;
    background-color: #71a532;
}

/*===================
	  BOTTOM
===================*/

.bottom {
    width: 100%;
    margin: 0 auto;
    margin-top: 160px;
    padding: 15px 0;
    text-align: left;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-family: 'Noto Sans KR', sans-serif;
}

.bottom ul {
    max-width: 1240px;
    margin: 0 auto;
    display: block;
}

.bottom li {
    display: inline-block;
}

.bottom a {
    font-size: 14px;
    color: #555;
    font-weight: 300;
}

.bottom p {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 300;
}

/*===================
	  FOOTER
===================*/

footer {
    font-family: 'Noto Sans KR', sans-serif;
    height: 309px;
    max-width: 1260px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-align: center;
}

footer p {
    text-align: left;
    padding-top: 40px;
    font-size: 14px;
    font-weight: 300;
    color: #555;
    line-height: 1.8;
}

footer img {
    display: block;
}

footer .a {
    margin-top: 42px;
    margin-bottom: 25px;
}