/*===================
	  HEADER
===================*/

.head {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    z-index: 999;
    height: 90px;
    box-shadow: 0 0 1px 0 #dcdcdc;
}

.head nav {
    max-width: 1260px;
    margin: 0 auto;
}

.head nav::after {
    content: "";
    display: block;
    clear: both;
}

.head .logo_a {
    float: left;
    line-height: 90px;
    font-size: 0;
}

.head .logo_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.head .logo {
    margin: 0px 18px 0px 10px;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 90px;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.menu li {
    font-weight: 300;
    display: inline-block;
    margin: 0px 18px;
    font-size: 16px;
    color: #555 !important;
    float: left;
}

.menu li a {
    color: #555;
    font-weight: 500;
}

.menu li a:hover {
    color: rgba(85, 85, 85, .6);
}

.icon {
    float: right;
    line-height: 90px;
}

.icon::after {
    content: "";
    display: block;
    clear: both;
}

.icon .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.icon img {
    vertical-align: middle;
}

.icon li {
    float: left;
}

.icon .a1 {
    margin: 0px 14px;
}

.icon .a2 {
    margin: 0px 14px;
}

.icon .cart_inner {

}

.icon .a2 div {
    position: relative;
}

.icon .a2 div .cart_number {
    opacity: 1;
    position: absolute;
    top: 31px;
    right: -6px;
    display: flex;
    align-items: center; /* 세로정렬 */
    justify-content: center
}

.icon .a2 div .cart_number p {
    font-size: 11px;
    color: #fff;
    font-weight: 300;
    position: absolute;
    z-index: 999;
}

.icon .a3 {
    margin: 0px 10px 0px 14px;
}

.icon .a3 a.search-href {

}

.icon .a3 a.search-href input {
    height: 38px;
    background-color: #f6f6f6;
    border-radius: 100px;
    border: 1px solid #ddd;
    width: 160px;
    outline: none;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-right: 15px;
}