body {
    background-color: #f1f1f1f1;
}

preview {
    width: 100px;
}

.container {
    width: 100%;
}

.container .container__inner {
    background-color: #fff;
    width: 640px;
    box-sizing: border-box;
    padding: 40px 40px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    margin: 0 auto;
}

.container .container__inner div.title-box {
    margin-bottom: 30px;
}

.container .container__inner div.title-box h2 {
    font-size: 26px;
    color: #333;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.container .container__inner .form__group {

}

.container .container__inner .form__group:first-child label {
    margin-top: 0;
}

.container .container__inner .form__group h3 {
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.preview-box {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 5px 0;
    border-radius: 5px;
}

.preview-box.long {
    background-position: top center;
    height: 400px;
}

.preview-box button.cancel {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .75);
    text-align: center;
    color: #555;
    font-weight: 500;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #eaeaea;
}

.preview-box img {
    width: 100%;
}

.container .container__inner .form__group label.add-img {
    padding: 46px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 0;
    margin-top: 10px;
}

.container .container__inner .form__group label {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.container .container__inner .form__group .input {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
}

.container .container__inner .form__group .input.files {
    display: none;
}

.container .container__inner .form__group.phone:after {
    content: "";
    display: block;
    clear: both;
}

.container .container__inner .form__group.phone .input {
    float: left;
    width: 30%;
    height: 50px;
}

.container .container__inner .form__group.phone div.dash {
    float: left;
    width: 5%;
    height: 50px;
    margin-top: 20px;
}

.container .container__inner .form__group.phone div.dash p {
    line-height: 50px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.container .container__inner .form__group .submit-input {
    width: 100%;
    margin-top: 30px;
    height: 60px;
    background-color: #71a532;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

/* itemReg */

.container .container__inner .form__group div.checkbox-div {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 10px;
}

.container .container__inner .form__group div.checkbox-div label {
    font-size: 14px;
}
