/*===================
	  CSS RESET
===================*/

* {
    padding: 0;
    border: 0;
    margin: 0;
    letter-spacing: 0.025em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*===================
	  PRODUCT
===================*/

.product {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 90px;
}

.product_view {
    max-width: 1260px;
    margin: 0 auto;
}

.product_view .thumbnail {
    text-align: center;
    margin: 0 auto;
}

.product_view .thumbnail img.main-thumb {
    width: 100%;
}

.product_view .col-7 {
    height: 645px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_view .col-7 img.main-img {
    width: 400px;
}

thumb_wrap {
    text-align: center;
}

.col-7 .thumbnail{
    left: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.col-7 .thumbnail a {
    display: block;
    height: 80px;
    width: 72px;
    overflow: hidden;
}

.thumbnail .thumb_li {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #efefef;
}

.thumbnail .thumb_li:hover {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ababab;
}

.product_view nav {
    margin-top: 12px;
}

.product_view .top_nav p {
    display: inline-block;
    font-size: 16px;
    color: #6a6969;
    font-weight: 200;
}

.product_view .col-5 h2 {
    font-size: 40px;
    color: #555;
    font-weight: 400;
    margin-top: 10px;
}

.product_view .col-5 h3 {
    font-size: 24px;
    color: #555;
    font-weight: 100;
    margin-top: 12px;
}

.product_view .product_sub p {
    font-size: 16px;
    color: #a0a0a0;
    font-weight: 100;
    margin-top: 20px;
}

.product_view .price {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    margin-top: 25px;
}

.product_view .price p {
    display: inline-block;
    font-size: 14px;
    color: #676767;
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 3px;
}

.product_view .price .a {
    margin-right: 40px;
    font-size: 16px;
    color: #676767;
    font-weight: 300;
}

.product_view .price span {
    font-size: 16px;
    color: #555;
    font-weight: 100;
    text-decoration: line-through;
}

.product_view .price .won {
    font-size: 16px;
    color: #8bc545;
    font-weight: 300;
    text-decoration: none;
}

.product_view .info {
    padding: 20px 0;
    border-bottom: 1px solid #e9e9e9;
}

.product_view .info div {
    display: inline-block;
}

.product_view .info p {
    display: inline-block;
    color: #555555;
    font-size: 16px;
    margin: 3px 0;
}

.product_view .info .a p {
    margin-right: 40px;
    font-weight: 300;
    color: #676767;
}

.product_view .info .b {
    font-weight: 300;
}

.product_view .number {
    margin-top: 26px;
}

.product_view .number span.itemCount {
    margin-right: 10px;
}

.product_view .number button {
    background: no-repeat;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.product_view .number button img {
    width: 15px;
    max-width: 100%;
}

.product_view .number p {
    font-size: 16px;
    color: #676767;
    font-weight: 300;
}

.product_view .number span {
    display: inline-block;
    padding-left: 23px;
    padding-right: 5px;
    margin-left: 14px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;
}

.product_view .number .a {
    margin-top: 10px;
}

.product_view .number .total_price {
    font-size: 28px;
    color: #8bc545;
    font-weight: 400;
    border: 0px;
    margin-left: 5px;
}

.button {
    text-align: center;
    margin-top: 40px;
}

.button ul li {
    line-height: 66px;
}

.button ul .like img {
    display: block;
    margin-top: 21px;
}

.button ul li img {
    margin-top: 0;
}

.button ul li div {
    height: 66px;
}

.button .like div,
.button .cart div {
    background-color: #f3f3f3;
}

.button .col-2 {
    padding-left: 0px;
    padding-right: 15px;
}

.button .col-2 img {
    margin-top: 10px;
}

.button .col-4 {
    padding-left: 0;
    padding-right: 15px;
}

.button .col-6 {
    background-color: #7ebb34;
}

.button .col-6 div p {
    color: #fff;
    font-weight: 300;
}

.button ul li a,
.button ul li p {
    display: inline-block;
    font-size: 16px;
    color: #676767;
    font-weight: 300;
}

.button ul li form {
    height: 100%;
}

.button ul li form button {
    width: 100%;
    height: 100%;
    background-color: #7ebb34;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.button ul li form button.like {
    background-color: #f3f3f3;
    text-align: center;
}

.button ul li form button.like img {
    margin: 0 auto;
    margin-top: 2px;
    max-width: 25px;
    width: 100%;
}

/*===================
    RELATED ITEM
===================*/

.related_item {
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 120px;
    padding-top: 35px;
    border-top: 1px solid #dedede;
    text-align: center;

}

.related_item div {
    margin-bottom: 40px;
}

.related_item div h3 {
    font-size: 20px;
    color: #555;
    font-weight: 300;
    margin-left: 5px;
    text-align: left;
}

.related_wrap img {
    height: 100%;
    width: 100%;
}

.related_wrap .col-3 p {
    font-size: 16px;
    color: #555;
    font-weight: 300;
    padding: 0 10px;
    text-align: left;
    margin-top: 20px;
}

/*===================
	  DETAIL
===================*/

.detail {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 90px;
}

.detail .detail_wrap .col-3 {
    padding: 0 4px;
}

.detail .detail_wrap .first{
    /*background-color: #7ebb34;*/
}

.detail .detail_wrap .first a {
    color: #fff;
    background-color: #7ebb34;

}

.detail .detail_wrap div {
}

/*.detail .detail_wrap a:hover {*/
/*    color: #fff;*/
/*    background-color: #7ebb34;*/

/*}*/

.detail .detail_wrap a {
    display: inline-block;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #555;
    font-weight: 300;
    padding: 25px 0;
    width: 100%;
    height: 100%;
}

.detail .item-tab {
    display: none;
}

.detail .item_info {
    margin: 90px 0;
    display: block;
}

.detail .item_info div {
    display: inline-block;
}

.detail .item_info img {
    width: 100%;
    height: 100%;
}

.detail .item_reviews {
    box-sizing: border-box;
    padding: 0 10px;
    min-height: 300px;
}

.detail .item_reviews .review__list {
    position: relative;
    height: 120px;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.detail .item_reviews .review__list .number-box {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100px;
}

.detail .item_reviews .review__list .number-box p {
    padding-left: 20px;
}

.detail .item_reviews .review__list .info-box {
    display: flex;
    align-items: center;
}

.detail .item_reviews .review__list .info-box .info__inner {
    text-align: left;
}

.detail .item_reviews .review__list .info-box .info__inner h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.detail .item_reviews .review__list .info-box .info__inner span {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
}

.detail .item_reviews .review__list svg {
    max-width: 35px;
    width: 100%;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.detail .item_reviews .review__list svg path {
    stroke: #808080;
}

.detail .item_reviews .review__list svg circle {
    stroke: #808080;
}

.detail .item_reviews .review__list svg:hover > path {
    stroke: #71a532;
}

.detail .item_reviews .review__list svg:hover > circle {
    stroke: #71a532;
}

.detail .item_qna {
    text-align: left;
    padding-top: 40px;
}

.detail .item_qna form.qna-form {
    box-sizing: border-box;
    padding-left: 30px;
}

.detail .item_qna form.qna-form h3 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.detail .item_qna form.qna-form h3 span {
    font-size: 18px;
    font-weight: 300;
    color: #888;
}

.detail .item_qna form.qna-form p {
    font-size: 14px;
    color: #888;
    font-weight: 300;
    margin-top: 10px;
}

.detail .item_qna form.qna-form textarea {
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-top: 40px;
    outline: none;
    box-sizing: border-box;
    padding: 15px;
}

.detail .item_qna form.qna-form div.btn-box {
    width: 60%;
    margin-top: 15px;
    position: relative;
}

.detail .item_qna form.qna-form div.btn-box button {
    width: 75px;
    height: 35px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.detail .item_qna form.qna-form div.btn-box button.submit {
    border: none;
    background-color: #7ebb34;
    color: #fff;
}

.detail .item_qna form.qna-form div.btn-box button.cancel {

}

.detail .item_qna form.qna-form div.btn-box div.secret-box {
    position: absolute;
    right: 0;
    top: 0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    display: flex;
    align-items: center;
}

.detail .item_qna form.qna-form div.btn-box div.secret-box .secret-div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 5px;
}

.detail .item_qna form.qna-form div.btn-box div.secret-box .secret-div img {

}

.detail .item_qna form.qna-form div.btn-box div.secret-box span {
    font-size: 14px;
    transform: translateY(-2px);
}

.detail .item_qna div.qna-wrap {
    margin-top: 60px;
}

.detail .item_qna div.qna-wrap .qna__list {
    height: 80px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.detail .item_qna div.qna-wrap .qna__list:first-child {
    border-top: 1px solid #ddd;
}

.detail .item_qna div.qna-wrap .qna__list .qna__list-inner {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.detail .item_qna div.qna-wrap .qna__list button.qna-btn {
    position: absolute;
    width: 100%;
    height: 80px;
    background: transparent;
    cursor: pointer;
    /*pointer-events: none;*/
    outline: none;
    top: 0;
}

.detail .item_qna div.qna-wrap .qna__list .qna__inner {
    display: inline-block;
}

.detail .item_qna div.qna-wrap .qna__list .status {
    width: 10%;
    box-sizing: border-box;
    padding-left: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .status p {
    font-size: 14px;
    font-weight: 300;
}

.detail .item_qna div.qna-wrap .qna__list .status p.wait {
    color: #a0a0a0;
}

.detail .item_qna div.qna-wrap .qna__list .status p.comp {
    color: #333;
    font-weight: 500;
}


.detail .item_qna div.qna-wrap .qna__list .title {
    width: 65%;
}

.detail .item_qna div.qna-wrap .qna__list .title h5 {
    display: flex;
    align-items: center;
}

.detail .item_qna div.qna-wrap .qna__list .title h5 span.title {
    display: inline-block;
    width: auto;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 3px;
}

.detail .item_qna div.qna-wrap .qna__list .title h5 span.my-qna {
    padding: 3px 8px;
    border-radius: 100px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    color: #555;
    margin-left: 5px;
    font-weight: 300;
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
}

.detail .item_qna div.qna-wrap .qna__list .title h5 span svg {
    max-width: 13px;
    width: 100%;
}

.detail .item_qna div.qna-wrap .qna__list .title h5 span svg path {
    /*fill: #888;*/
    stroke-width: 6px;
    stroke: #555;
}

.detail .item_qna div.qna-wrap .qna__list .title h5 span svg rect {
    stroke-width: 6px;
    stroke: #555;
}

.detail .item_qna div.qna-wrap .qna__list .title span {
    font-size: 14px;
    color: #888;
}

.detail .item_qna div.qna-wrap .qna__list .title span.member-name {
    margin-right: 5px;
}

.detail .item_qna div.qna-wrap .qna__list .title span.date {
}

.detail .item_qna div.qna-wrap .qna__list .isSecret {
    position: absolute;
    right: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .isSecret div {

}

.detail .item_qna div.qna-wrap .qna__list .name {

}

.detail .item_qna div.qna-wrap .qna__list .name span.member-name {
    font-size: 14px;
}


.detail .item_qna div.qna-wrap .qna__list .date {
    position: absolute;
    right: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .date span.date-text {
    font-size: 14px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content {
    background-color: #f6f6f6;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content p {
    font-size: 14px;
    color: #555;
    font-weight: 400;
    padding-bottom: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content h4 {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #7ebb34;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-form-container {
    padding-bottom: 30px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-form-update {
    display: none;
    padding-bottom: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content form.qna-comment-form {

}

.detail .item_qna div.qna-wrap .qna__list .qna-content form.qna-comment-form textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    outline: none;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content form.qna-comment-form .btn-box button {
    width: 65px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    color: #555;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content form.qna-comment-form .btn-box {
    margin-top: 15px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content form.qna-comment-form .btn-box button.submit {
    background-color: #7ebb34;
    color: #fff;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content form.qna-comment-form .btn-box button.cancel {
    background-color: #fff;
    border: 1px solid #ddd;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-reply {
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-reply span.admin-name {
    padding: 5px 8px;
    border-radius: 3px;
    background-color: #555;
    color: #fff;
    font-size: 13px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-reply p {
    line-height: 1.5;
    margin-top: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-reply .btn-box {
    padding-bottom: 20px;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-reply .btn-box button {
    width: 50px;
    height: 25px;
    font-size: 12px;
    color: #333;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.detail .item_qna div.qna-wrap .qna__list .qna-content .qna-comment-reply .btn-box .comment-delete-form {
    display: inline-block;
}


    /*===================
        CATEGORY BEST
    ===================*/

.category_best {
    max-width: 1260px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top: 120px;
    padding-top: 35px;
    border-top: 1px solid #e9e9e9;
}

.category_best div {
    margin-bottom: 40px;
}

.category_best div h3 {
    font-size: 20px;
    color: #555;
    font-weight: 300;
    margin-left: 5px;
    text-align: left;
}

.category_best .col-3 p {
    font-size: 16px;
    color: #555;
    font-weight: 300;
    padding: 0 10px;
    text-align: left;
    margin-top: 20px;
}

.category_best .col-3 img {
    height: 100%;
    width: 100%;
}