.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.title-box {
    margin-top: 60px;
    box-sizing: border-box;
    padding: 0 10px;
}

.title-box h2 {
    font-size: 26px;
    color: #555;
    font-weight: 500;
}

.title-box p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #888;
}

.item__info-wrap {
    margin-top: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}

.item__list {

}

.item__list.top-line {
    height: 50px;
    background-color: #f6f6f6;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.item__list.content {
    border-bottom: 1px solid #eaeaea;
}

.item__list div {
    float: left;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    height: 100%;
}

.item__list div.img-div {
    width: 15%;
    justify-content: left;
}

.item__list div.info-div {
    width: 25%;
}

.item__list div.quantity-div {
    width: 20%;
}

.item__list div.points-div {
    width: 20%;
}

.item__list div.price-div {
    width: 20%;
}

.item__list .list__inner {
    height: 200px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item__list.content .list__inner p {
    color: #333;
    font-size: 16px;
}

img.order-item-img {
    max-width: 135px;
    width: 100%;
}

p.bold {
    font-weight: 500;
}

form {
    box-sizing: border-box;
    margin-top: 40px;
}

form .form-div {
    margin-top: 60px;
}

form .form-div h3 {
    font-size: 20px;
    font-weight: 500;
    color: #555;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}

form .form-div.delivery {
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 0;
    width: 60%;
}

form .form-div.delivery label {
    font-size: 12px;
    color: #888;
    display: inline-block;
    margin-top: 30px;
}

form .form-div.delivery input {
    width: 100%;
    height: 45px;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    font-family: 'noto sans kr';
}

form .form-div.delivery input:focus {
    border-bottom: 1px solid #71a532;
}


form ul.pay-wrap {
    height: 260px;
}

form ul.pay-wrap .title-box {
    box-sizing: border-box;
    padding: 0;
    margin-top: 40px;
}

form ul.pay-wrap h3 {
    font-size: 20px;
    font-weight: 500;
    color: #555;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}

form ul.pay-wrap li.pay-list {
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

form ul.pay-wrap li.pay-list.points {
    width: 60%;
    padding-right: 20px;
}

form ul.pay-wrap li.pay-list.points .pay-inner .inner-box label span {
    font-size: 12px;
    color: #a0a0a0;
}

form ul.pay-wrap li.pay-list.payment {
    width: 40%;
    padding-left: 20px;
    transform: translateY(-563px);
}

form ul.pay-wrap li.pay-list .inner-box {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

form ul.pay-wrap li.pay-list .inner-box p,
form ul.pay-wrap li.pay-list .inner-box .btn-div {
    position: absolute;
    right: 0;
    font-size: 16px;
    text-align: right;
    outline: none;
}

form ul.pay-wrap li.pay-list .inner-box p {

}

form ul.pay-wrap li.pay-list .inner-box .btn-div input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form ul.pay-wrap li.pay-list .inner-box input {
    text-align: right;
    font-size: 16px;
    outline: none;
    width: 86px;
    padding: 6px 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
    transform: translate(6px, 2px);
    margin: 0;
}

form ul.pay-wrap li.pay-list .inner-box .btn-div button{
    height: 35px;
    width: 50px;
    transform: translateY(1px);
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
}

.pay-list.payment .total-div {
    background-color: #f6f6f6;
    box-sizing: border-box;
    padding: 35px;
    padding-bottom: 40px;
}

.pay-list.payment .total-div h4 {
    font-size: 20px;
    font-weight: 300;
    color: #555;
}

.pay-list.payment .total-div p.total-price {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
}

.pay-list.payment .total-div p.total-price span.total-span {
    font-size: 36px;
    font-weight: 700;
    color: #71a532;
    margin-left: 0;
}

.pay-list.payment .total-div p.total-price span {
    font-size: 20px;
    font-weight: 300;
    color: #8f8f8f;
    margin-left: 5px;
}

.pay-list.payment .total-div .price-detail {
    margin-top: 30px;
}

.pay-list.payment .total-div .price-detail h5 {
    font-size: 14px;
    font-weight: 400;
}

.pay-list.payment .total-div .price-detail p {
    font-size: 16px;
    margin-top: 10px;
}

.pay-list.payment .total-div .price-detail.item-price {
    margin-top: 35px;
}

.pay-list.payment button {
    width: 100%;
    height: 80px;
    background-color: #7ebb34;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
