.container {
    max-width: 1260px;
    margin: 0 auto;
}

.title-box {
    margin-top: 60px;
    box-sizing: border-box;
    padding: 0 10px;
}

.title-box h2 {
    font-size: 26px;
    color: #555;
    font-weight: 500;
}

.title-box p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #888;
}

.item__info-wrap {
    margin-top: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}

.item__list {

}

.item__list.top-line {
    height: 50px;
    background-color: #f6f6f6;
    font-size: 14px;
}

.item__list.content {
    border-bottom: 1px solid #eaeaea;
}

.item__list div {
    float: left;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    height: 100%;
}

.item__list div.img-div {
    width: 15%;
    justify-content: left;
}

.item__list div.info-div {
    width: 25%;
}

.item__list div.quantity-div {
    width: 20%;
}

.item__list div.points-div {
    width: 20%;
}

.item__list div.price-div {
    width: 20%;
}

.item__list .list__inner {
    height: 200px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item__list.content .list__inner p {
    color: #333;
    font-size: 16px;
}

img.order-item-img {
    max-width: 135px;
    width: 100%;
}

p.bold {
    font-weight: 600;
}

form {
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 60px;
}