.container {
    max-width: 1260px;
    margin: 0 auto;
}

.btn-box {
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.btn-box button {
    width: 122px;
    height: 43px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
}

.btn-box button.submit {
    background-color: #7ebb34;
    color: #fff;
    margin-right: 5px;
}

.btn-box button.cancel {
    background-color: #fff;
    border: 1px solid #ddd;
}

.review-form {
    float: left;
    box-sizing: border-box;
    width: 33.33%;
    padding: 10px;
}

form div.form__inner {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form div.form__inner div.index-circle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

form div.form__inner div.index-circle p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}


div.img-box {
    text-align: center;
    background-color: #f6f6f6;
    box-sizing: border-box;
    padding: 30px 30px 35px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.img-box img.item-img {
    max-height: 188px;
    height: 100%;
}

div.img-box h4.item-name {
    font-size: 16px;
    color: #555;
    font-weight: 400;
}

div.star-rating-box {
    margin-top: 15px;
}

div.star-rating-box fieldset {
    width: fit-content;
    margin: 0 auto;
}

div.star-rating-box input {
    display: none;
}

div.star-rating-box label {

}

div.star-rating-box label svg {
    max-width: 30px;
    width: 100%;
}

div.content-box {
    box-sizing: border-box;
    padding: 20px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 375px;
}

div.content-box nav.content-tab-nav button {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    outline: none;
}

div.content-box nav.content-tab-nav button.text-tab-btn {
    background-color: #f1f1f1;
}

div.content-box nav.content-tab-nav button.text-tab-btn svg {
    max-width: 14px;
    width: 100%;
}

div.content-box nav.content-tab-nav button.photo-tab-btn {

}

div.content-box nav.content-tab-nav button.photo-tab-btn svg {
    max-width: 16px;
    width: 100%;
}

div.content-box div.tab {

}

div.content-box div.tab.review-text {
    display: block;
}

div.content-box div.tab.review-text textarea {
    outline: none;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #888;
}

div.content-box div.tab.review-photo {
    display: none;
    width: calc(100% + 10px);
    transform: translateX(-5px);
}

div.content-box div.tab.review-photo output {
    width: 100%;
    display: none;
    /*width: calc(100% + 10px);*/
    /*transform: translateX(-5px);*/
}

div.content-box div.tab.review-photo output div.preview-box {
    position: relative;
    float: left;
    width: 33.33%;
    /*display: inline-block;*/
    /*margin-right: 10px;*/
    /*width: 60px;*/
    /*height: 60px;*/
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
}

div.content-box div.tab.review-photo output div.preview-box button.cancel {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 0;
    border: 1px solid #ddd;
    right: 0;
    font-size: 10px;
    color: #555;
}

div.content-box div.tab.review-photo output div.preview-box .preview-inner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 105px;
}


div.content-box div.tab.review-photo p {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

div.content-box div.tab.review-photo label {
    float: left;
    box-sizing: border-box;
    padding: 5px;
    width: 33.33%;
}

div.content-box div.tab.review-photo label span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 18px;
    color: #555;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 103px;
}

div.content-box div.tab.review-photo input {
    display: none;
}


/*div.star-rating-box svg.second-star:hover > path {*/
/*    stroke: #71a532;*/
/*    fill: #71a532;*/
/*}*/

