.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

ul.orders-wrapper {

}

li.order__list {
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}

li.order__list.left {
    width: 20%;
}

li.order__list.left div.title-box {
    background-color: #7ebb34;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 35px;
    padding-bottom: 40px;
    text-align: left;
}

li.order__list.left div.title-box h2 {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}

li.order__list.left div.title-box p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, .75);
    margin-top: 10px;
    line-height: 1.6;
}

li.order__list.left nav.orders-nav {
    box-sizing: border-box;
    padding: 25px 30px 35px 35px;
    border: 1px solid #ddd;
}

li.order__list.left nav.orders-nav a {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    display: inline-block;
    margin-top: 25px;
}

li.order__list.left nav.orders-nav a:first-child {
    margin-top: 0;
}

li.order__list.left nav.orders-nav a.active {
    color: #333;
    font-weight: 600;
}

li.order__list.right {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}

li.order__list.right div.title-box {
    position: relative;
    box-sizing: border-box;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

li.order__list.right div.title-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

li.order__list.right div.title-box p {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    margin-top: 5px;
}

li.order__list.right div.empty-box p {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 300;
    color: #888;
}

li.order__list.right div.content-box {
    /*border-bottom: 1px solid #ddd;*/

}

li.order__list.right div.content-box .content__inner {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

li.order__list.right div.content-box .content__inner button.show-content-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    /*display: none;*/
}

li.order__list.right div.content-box .content__inner .info-box {
    box-sizing: border-box;
    padding-left: 80px;
}

li.order__list.right div.content-box .content__inner .info-box h4 {
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

li.order__list.right div.content-box .content__inner .info-box h4 span.reply-complete {
    margin-left: 5px;
    padding: 5px 12px;
    border: 1px solid #71a532;
    border-radius: 100px;
    color: #71a532;
    font-size: 12px;
}

li.order__list.right div.content-box .content__inner .info-box p.item-name {
    font-size: 13px;
    margin-top: 8px;
    color: #a0a0a0;
}

li.order__list.right div.content-box .content__inner .info-box p.date {
    margin-top: 1px;
    font-size: 13px;
    color: #a0a0a0;
}

li.order__list.right div.content-box .content__inner .info-box p span {

}

li.order__list.right div.content-box .img-absolute {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

li.order__list.right div.content-box .img-absolute img {
    max-width: 65px;
    width: 100%;
}

li.order__list.right div.content-box form.qna-delete-form {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

li.order__list.right div.content-box form.qna-delete-form button {
    width: 40px;
    height: 24px;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #555;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}


li.order__list.right div.content-box .reply-box {
    display: none;
}

li.order__list.right div.content-box .reply-box .text-box {
    box-sizing: border-box;
    padding: 30px 0;
}

li.order__list.right div.content-box .reply-box .text-box p {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

li.order__list.right div.content-box .reply-box form.qna-update-form {
    display: none;
}

li.order__list.right div.content-box .reply-box form.qna-update-form textarea {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 5px;
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    padding: 20px;
    outline: none;
    overflow-y: auto;
}

li.order__list.right div.content-box .reply-box form.qna-update-form button {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 40px;
    height: 24px;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #555;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

li.order__list.right div.content-box .reply-box form.qna-update-form button[type=submit] {
    background-color: #71a532;
    color: #fff;
    border: 0;
}

li.order__list.right div.content-box .reply-box .reply-divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

li.order__list.right div.content-box .reply-box .reply {
    box-sizing: border-box;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

li.order__list.right div.content-box .reply-box .reply .reply__inner {
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}

li.order__list.right div.content-box .reply-box .reply .reply__inner span.admin-name {
    background-color: #333;
    padding: 5px 8px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 15px;
}

li.order__list.right div.content-box .reply-box .reply .reply__inner span.admin-reply-date {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    color: #888;
}

li.order__list.right div.content-box .reply-box .reply .reply__inner p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
