<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/shoppingCart.css}">

<div th:replace="partials/bodyHeader :: header"/>

<section class="container">

    <div class="title-box">
        <h2>Shopping Cart</h2>
        <h3>장바구니 내역입니다.</h3>
    </div>

    <div th:if="${cartItems != null}">

        <ul class="cart-item-wrap">
            <li class="cart-item-head clearfix">
                <div class="cart-item-list delete-check">
                    <input type="checkbox" class="all-check-input">
                </div>

                <div class="cart-item-list info">
                    <p>상품정보</p>
                </div>

                <div class="cart-item-list quantity">
                    <p>수량</p>
                </div>

                <div class="cart-item-list price">
                    <p>상품금액</p>
                </div>

                <div class="cart-item-list discount">
                    <p>할인금액</p>
                </div>

                <div class="cart-item-list result-price">
                    <p>최종금액</p>
                </div>

                <div class="cart-item-list delete-btn">
                    <p>삭제</p>
                </div>
            </li>

            <li th:each="cartItem, i : ${cartItems}" class="cart-item-content clearfix">

                <input type="hidden" class="itemId-input" th:value="${cartItem.id}">

                <div class="cart-item-list delete-check">
                    <input type="checkbox" class="check-input">
                </div>

                <div class="cart-item-list info">
                    <img th:src="@{'/upload/' + ${cartItem.s3Key}}" alt="">
                    <span th:text="${cartItem.nameKor}"></span>
                </div>

                <div class="cart-item-list quantity">
                    <a href="#" class="plus-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                             aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle data-name="layer2"
                                    cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10"
                                    stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
                            <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  stroke-width="2" d="M32 16v32m16-16H16" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                        </svg>
                    </a>

                    <p class="item-quantity">1</p>

                    <a href="#" class="minus-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                             aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle data-name="layer2"
                                    cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10"
                                    stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
                            <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  stroke-width="2" d="M48 32H16" stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg>
                    </a>

                </div>

                <div class="cart-item-list price">
                    <p th:text="${#numbers.formatInteger(cartItem.price, 3, 'COMMA')}" class="price-text">상품금액</p>
                </div>

                <div class="cart-item-list discount">
                    <p th:if="${cartItem.discountPrice >= 100}"
                       th:text="${#numbers.formatInteger(cartItem.discountPrice, 3, 'COMMA')}"
                       class="discount-text"></p>
                    <p th:if="${cartItem.discountPrice < 100}" th:text="${cartItem.discountPrice}"
                       class="discount-text"></p>
                </div>

                <div class="cart-item-list result-price">
                    <p th:text="${#numbers.formatInteger((cartItem.price - cartItem.discountPrice), 3, 'COMMA')}"
                       class="result-text"></p>
                </div>

                <div class="cart-item-list delete-btn">
                    <svg class="cart-item-delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                         aria-labelledby="title"
                         aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path data-name="layer1"
                              d="M53.122 48.88L36.243 32l16.878-16.878a3 3 0 0 0-4.242-4.242L32 27.758l-16.878-16.88a3 3 0 0 0-4.243 4.243l16.878 16.88-16.88 16.88a3 3 0 0 0 4.243 4.241L32 36.243l16.878 16.88a3 3 0 0 0 4.244-4.243z"
                              fill="#888888"></path>
                    </svg>
                </div>
            </li>

            <div class="cart-btn-box" th:if="${cartItems.size() > 0}">
                <button type="button" class="all-orders">전체상품주문</button>
                <button type="button" class="select-orders">선택상품주문</button>
                <button type="button" class="keep-going">계속쇼핑하기</button>
            </div>
        </ul>
    </div>

    <div th:if="${cartItems == null || cartItems.size() == 0}" class="empty-box">
        <p>장바구니에 상품이 없습니다.</p>
    </div>

</section>

<div th:replace="partials/bottom :: bottom"/>
<footer th:replace="partials/footer :: footer"/>

<script type="text/javascript">

    window.onload = function (ev) {

        plusFunc();
        minusFunc();

        // 전체 상품 주문
        var allOrder = document.getElementsByClassName('all-orders')[0];
        allOrder.addEventListener('click', function (evt) {

            var formTag = document.createElement('form');
            formTag.action = '/orders';
            formTag.method = 'get';

            var checkInputs = document.getElementsByClassName('check-input');

            for (i = 0; i < checkInputs.length; i++) {

                var checkInput = checkInputs[i];
                var div = checkInput.parentElement;
                var li = div.parentElement;

                var itemIdInput = li.getElementsByClassName('itemId-input')[0];
                var itemIdVal = Number(itemIdInput.value);

                var inputForItemId = document.createElement('input');
                inputForItemId.type = 'hidden';
                inputForItemId.name = 'shoppingCartDtos[' + i + '].itemId';
                inputForItemId.value = itemIdVal;

                var itemQuantityTag = li.getElementsByClassName('item-quantity')[0];
                var itemQuantityVal = Number(itemQuantityTag.innerText);

                var inputForItemQuantity = document.createElement('input');
                inputForItemQuantity.type = 'hidden';
                inputForItemQuantity.name = 'shoppingCartDtos[' + i + '].count';
                inputForItemQuantity.value = itemQuantityVal;

                formTag.append(inputForItemId);
                formTag.append(inputForItemQuantity);
            }

            document.body.append(formTag);
            formTag.submit();
        });


        // 선택 상품 주문
        var selectedOrder = document.getElementsByClassName('select-orders')[0];
        selectedOrder.addEventListener('click', function (evt) {

            var formTag = document.createElement('form');
            formTag.action = '/orders';
            formTag.method = 'get';

            var checkInputs = document.getElementsByClassName('check-input');

            for (i = 0; i < checkInputs.length; i++) {

                var checkInput = checkInputs[i];
                var div = checkInput.parentElement;
                var li = div.parentElement;

                var attribute = checkInput.getAttribute('checked');

                if (attribute == 'true') {
                    var itemIdInput = li.getElementsByClassName('itemId-input')[0];
                    var itemIdVal = Number(itemIdInput.value);

                    var inputForItemId = document.createElement('input');
                    inputForItemId.type = 'hidden';
                    inputForItemId.name = 'shoppingCartDtos[' + i + '].itemId';
                    inputForItemId.value = itemIdVal;

                    var itemQuantityTag = li.getElementsByClassName('item-quantity')[0];
                    var itemQuantityVal = Number(itemQuantityTag.innerText);

                    var inputForItemQuantity = document.createElement('input');
                    inputForItemQuantity.type = 'hidden';
                    inputForItemQuantity.name = 'shoppingCartDtos[' + i + '].count';
                    inputForItemQuantity.value = itemQuantityVal;

                    formTag.append(inputForItemId);
                    formTag.append(inputForItemQuantity);
                }
            }

            document.body.append(formTag);
            debugger;
            formTag.submit();

        });

        // 장바구니 상품 삭제
        var cartItemDeleteBtns = document.getElementsByClassName('cart-item-delete');

        for (i = 0; i < cartItemDeleteBtns.length; i++) {

            var cartItemDeleteBtn = cartItemDeleteBtns[i];

            cartItemDeleteBtn.addEventListener('click', function (evt) {

                var target = evt.target;
                var svgOuter = target.parentElement;
                var cartItemLi = svgOuter.parentElement;

                var itemIdInputTag = cartItemLi.getElementsByClassName('itemId-input')[0];
                var itemIdVal = Number(itemIdInputTag.value);

                var formTag = document.createElement('form');
                formTag.action = '/shoppingCart/delete';
                formTag.method = 'post';

                var inputTagForItemId = document.createElement('input');
                inputTagForItemId.type = 'hidden';
                inputTagForItemId.name = 'itemId';
                inputTagForItemId.value = itemIdVal;

                formTag.append(inputTagForItemId);
                document.body.append(formTag);

                formTag.submit();
            })
        }

        var allCheckInput = document.getElementsByClassName('all-check-input')[0];
        var checkInputs = document.getElementsByClassName('check-input');

        for (i = 0; i < checkInputs.length; i++) {

            checkInputs[i].addEventListener('click', function (evt1) {

                var target1 = evt1.target;
                var attribute = target1.getAttribute('checked');

                if (attribute == 'true') {
                    target1.removeAttribute('checked');
                } else if (attribute == 'false' || attribute == null) {
                    target1.setAttribute('checked', 'true');
                }
            })
        }

        // 망할 전체 선택 & 전체 선택 해제
        allCheckInput.addEventListener('change', function (evt) {

            var target = evt.target;

            if (target.classList.contains('active')) {

                target.classList.remove('active');

                for (i = 0; i < checkInputs.length; i++) {

                    var checkInput = checkInputs[i];
                    if (checkInput.getAttribute('checked') != null) {
                        checkInput.click();
                    }
                }

            } else {

                target.classList.add('active');

                for (i = 0; i < checkInputs.length; i++) {

                    var checkInput = checkInputs[i];
                    if (checkInput.getAttribute('checked') == null) {
                        checkInput.click();
                    }
                }
            }
        })
    };

    function totalPrice(quantity, div, priceOriginal, discountOriginal) {

        var li = div.parentElement;

        var itemPriceTag = li.getElementsByClassName('price-text')[0];
        var itemPriceResult = priceOriginal * quantity;

        itemPriceTag.innerText = Intl.NumberFormat().format(itemPriceResult);

        var discountTag = li.getElementsByClassName('discount-text')[0];
        var discountResult = quantity * discountOriginal;

        discountTag.innerText = Intl.NumberFormat().format(discountResult);

        var resultTag = li.getElementsByClassName('result-text')[0];
        resultTag.innerText = itemPriceResult - discountResult;

    }

    function itemPlus(plusBtn, priceOriginal, discountOriginal) {
        plusBtn.addEventListener('click', function (evt) {

            var target = evt.target;
            var div = target.parentElement;

            var itemQuantityTag = div.getElementsByClassName('item-quantity')[0];
            var itemQuantityVal = Number(itemQuantityTag.innerText);
            itemQuantityVal++;
            totalPrice(itemQuantityVal, div, priceOriginal, discountOriginal);
            itemQuantityTag.innerText = itemQuantityVal;

        })
    }

    function itemMinus(minusBtn, priceOriginal, discountOriginal) {

        minusBtn.addEventListener('click', function (evt) {

            var target = evt.target;
            var div = target.parentElement;

            var itemQuantityTag = div.getElementsByClassName('item-quantity')[0];
            var itemQuantityVal = Number(itemQuantityTag.innerText);

            if (itemQuantityVal == 1) {
                alert("상품 수량은 한 개 이상만 가능합니다");
                return
            } else if (itemQuantityVal > 1) {
                itemQuantityVal--;
                itemQuantityTag.innerText = itemQuantityVal;
                totalPrice(itemQuantityVal, div, priceOriginal, discountOriginal);
            }

        })

    }

    var plusBtns = document.getElementsByClassName('plus-svg');
    var minusBtns = document.getElementsByClassName('minus-svg');

    var priceTextTags = document.getElementsByClassName('price-text');
    var discountTextTags = document.getElementsByClassName('discount-text');

    function plusFunc() {

        for (var i = 0; i < plusBtns.length; i++) {

            var priceTextTag = priceTextTags[i];
            var priceText = priceTextTag.innerText;
            var priceOriginal = priceText.replace(/,/gi, '');

            var discountTextTag = discountTextTags[i];
            var discountText = discountTextTag.innerText;
            var discountOriginal = discountText.replace(/,/gi, '');

            var plusBtn = plusBtns[i];

            itemPlus(plusBtn, priceOriginal, discountOriginal);
        }
    }

    function minusFunc() {

        for (var i = 0; i < minusBtns.length; i++) {

            var priceTextTag = priceTextTags[i];
            var priceText = priceTextTag.innerText;
            var priceOriginal = priceText.replace(/,/gi, '');

            var discountTextTag = discountTextTags[i];
            var discountText = discountTextTag.innerText;
            var discountOriginal = discountText.replace(/,/gi, '');

            var minusBtn = minusBtns[i];

            itemMinus(minusBtn, priceOriginal, discountOriginal);
        }
    }
</script>