<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<style>
    body, html {
        width: 100%;
    }

    body {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
<body>
<section class="container">
    <div class="container__inner">

        <div class="title-box">
            <h2 th:text="${status == null ? '상품등록' : '상품 수정'}">상품 등록</h2>
        </div>

        <form th:if="${status == null}" th:action="@{/admin/items/new}" method="post" th:object="${itemDto}" enctype="multipart/form-data">

            <div class="form__group">
                <label th:for="name">이름</label><br>
                <input type="text" th:field="*{nameKor}" class="input" placeholder="제품명을 입력해 주세요(KR).">
                <input type="text" th:field="*{nameEng}" class="input" placeholder="제품명을 입력해 주세요(EN).">
            </div>

            <div class="form__group">
                <label th:for="price">가격</label><br>
                <input type="number" th:field="*{price}" class="input" placeholder="제품의 가격을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">재고</label><br>
                <input type="number" th:field="*{stockQuantity}" class="input" placeholder="상품의 재고량을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">제품 설명</label><br>
                <textarea type="number" th:field="*{description}" class="input" placeholder="상품의 설명을 입력해 주세요."></textarea>
            </div>

            <div class="form__group">
                <label th:for="capacity">용량</label><br>
                <input type="number" th:field="*{capacity}" class="input" placeholder="제품의 용량을 입력해 주세요(ex 50ml)">
            </div>

            <div class="form__group">
                <div class="checkbox-div" th:each="category : ${allCategories}">
                    <input type="checkbox" th:field="*{multiCategoryValues}" th:value="${category.name}">
                    <label th:for="${#ids.prev('multiCategoryValues')}" th:text="${category.name}"></label><br>
                </div>
            </div>

<!--            <div class="form__group">-->
<!--                <input type="text" th:field="*{mainRemove}" hidden>-->
<!--            </div>-->

            <div class="form__group" id="img-div">
                <h3>메인 이미지</h3>
                <output id="result"></output>
                <label th:for="mainImg" class="add-img">+</label><br>
                <input multiple="multiple" type="file" th:field="*{mainImg}" class="input files main" th:onchange="handleFileSelect(this)">
<!--                <button type="button" onclick="resetFile()">이미지 리셋</button>-->
            </div>

            <div class="form__group" id="detail-img-div">
                <h3>상세 이미지</h3>
                <output id="detail_result"></output>
                <label th:for="detailImg" class="add-img">+</label><br>
                <input multiple="multiple" type="file" th:field="*{detailImg}" class="input files detail_input" th:onchange="handleFileSelect(this)">
            </div>

            <div class="form__group">
                <input type="submit" value="상품 등록" class="submit-input"/>
            </div>
        </form>


        <!--  ///////-->
        <!-- 업데이트 -->
        <!--  ///////-->

        <form th:if="${status != null}" th:action="@{/admin/items/update}" method="post" th:object="${updateDto}" enctype="multipart/form-data">

            <input type="text" th:field="*{id}" hidden>

            <div class="form__group">
                <label th:for="name">이름</label><br>
                <input type="text" th:field="*{nameKor}" class="input" placeholder="제품명을 입력해 주세요(KR).">
                <input type="text" th:field="*{nameEng}" class="input" placeholder="제품명을 입력해 주세요(EN).">
            </div>

            <div class="form__group">
                <label th:for="price">가격</label><br>
                <input type="number" th:field="*{price}" class="input" placeholder="제품의 가격을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">재고</label><br>
                <input type="number" th:field="*{stockQuantity}" class="input" placeholder="상품의 재고량을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">제품 설명</label><br>
                <textarea type="number" th:field="*{description}" class="input" placeholder="상품의 설명을 입력해 주세요."></textarea>
            </div>

            <div class="form__group">
                <label th:for="capacity">용량</label><br>
                <input type="number" th:field="*{capacity}" class="input" placeholder="제품의 용량을 입력해 주세요(ex 50ml)">
            </div>

            <div class="form__group">
                <div class="checkbox-div" th:each="category : ${allCategories}">
                    <input type="checkbox" th:field="*{multiCategoryValues}" th:value="${category.name}">
                    <label th:for="${#ids.prev('multiCategoryValues')}" th:text="${category.name}"></label><br>
                </div>
            </div>

            <div class="form__group" id="img-div">
                <h3>메인 이미지</h3>

                <output id="result">
                    <div th:each="main : *{mainSrcs}" class="preview-box main" th:style="'background-image: url(/upload/' + ${main.s3Key} + ');'">
                        <button type="button" class="cancel originCancel" onclick="imgDelete(this)">X
                            <span style="display: none;" th:text="${main.id}"></span>
                        </button>
                    </div>
                </output>

                <label th:for="mainImg" class="add-img">+</label><br>
                <!--                <img th:src="@{${'/upload/' + updateDto.mainImg.get(0).s3Key}}" alt="" class="preview">-->
                <input multiple="multiple" type="file" th:field="*{mainImg}" class="input files main" th:onchange="handleFileSelect(this)">
            </div>

            <div class="form__group" id="detail-img-div">

                <h3>상세 이미지</h3>

                <output id="detail_result">
                    <div th:each="detail : *{detailSrcs}" class="preview-box long" th:style="'background-image: url(/upload/' + ${detail.s3Key} + ');'">
                        <button type="button" class="cancel originCancel" onclick="imgDelete(this)">X
                            <span style="display: none;" th:text="${detail.id}"></span>
                        </button>
                    </div>
                </output>

                <label th:for="detailImg" class="add-img">+</label><br>

                <input multiple="multiple" type="file" th:field="*{detailImg}" class="input files detail_input" th:onchange="handleFileSelect(this)">
            </div>

            <div class="form__group">
                <input type="submit" value="상품 등록" class="submit-input"/>
            </div>
        </form>
    </div>

</section>

<script>

    // function resetFile() {
    //     console.log(document.getElementById('files').value);
    //     document.getElementById('files').value = "";
    //
    // }

    // var allFiles = [];
    // var allPaths = [];

    var mainIdx = 0;
    var detailIdx = 0;

    function handleFileSelect(elem) {

        var files = elem.files;

        // var files = Array.from(elem.files);
        // console.log(newFileList);

        //Check File API support
        if (window.File && window.FileList && window.FileReader) {

            var output;

            if (elem.classList.contains('main')) {
                output = document.getElementById("result");
            } else {
                output = document.getElementById('detail_result');
            }

            for (var i = 0; i < files.length; i++) {

                // var file = files[i];
                var file = files.item(i);

                //Only pics
                if (!file.type.match('image')) continue;

                var picReader = new FileReader();

                var obj = {
                    i: i,
                    output: output,
                    file: file,
                    elem: elem
                };


                picReader.addEventListener("load", loadImg.bind(obj), false);
                picReader.readAsDataURL(file);

                elem.style.display = 'none';

                if (elem.classList.contains('main')) {
                    elem.id = 'mainImg main' + mainIdx;
                    mainIdx++;

                } else {
                    elem.id = 'detailImg detail' + detailIdx;
                    detailIdx++;
                }
            }


            if (elem.classList.contains('main')) {
                var imgDiv = document.getElementById('img-div');
                var divTag = document.createElement('div');
                imgDiv.appendChild(divTag);
                divTag.innerHTML = '<input multiple="multiple" type="file" id="mainImg" name="mainImg" onchange="handleFileSelect(this)" class="input preview files main">';
            } else {
                var imgDiv = document.getElementById('detail-img-div');
                var divTag = document.createElement('div');
                imgDiv.appendChild(divTag);
                divTag.innerHTML = '<input multiple="multiple" type="file" id="detailImg" name="detailImg" onchange="handleFileSelect(this)" class="input preview files detail_input">';
            }

        } else {
            console.log("Your browser does not support File API");
        }
    }

    function loadImg() {
        var i = this.i;
        var output = this.output;
        var elem = this.elem;
        var file = this.file;

        var picFile = event.target;
        var div = document.createElement("div");

        if (elem.classList.contains('detail_input')) {
            div.classList = 'preview-box long';
        } else {
            div.classList = 'preview-box main';
        }

        div.style.backgroundImage = 'url(' + picFile.result + ')';
        // div.style.backgroundRepeat = 'no-repeat';
        // div.style.backgroundSize = 'cover';
        // div.style.backgroundPosition = 'center center';
        // div.style.margin = "5px 0";
        // div.style.borderRadius = "5px";

        var btn = document.createElement('button');
        btn.type = 'button';

        if (elem.classList.contains('main')) {
            btn.classList = "cancel mainCancel";
        } else {
            btn.classList = "cancel detailCancel";
        }

        btn.setAttribute('onclick', "imgDelete(this)");
        btn.innerText = 'X';

        var btnInner = document.createElement('span');
        btnInner.innerText = file.name;
        btnInner.style.display = 'none';
        btn.append(btnInner);

        // div.innerHTML = "<button type='button' class='cancel' onclick='imgDelete(this)'>x</button>";
        div.append(btn);
        // div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" + "title='" + picFile.name + "'/>";
        output.insertBefore(div, null);
    }

    function imgDelete(elem) {
        var children = elem.childNodes;
        // console.log(imgName);

        var inputElem = document.createElement('input');
        inputElem.hidden = true;

        if (elem.classList.contains('mainCancel')) {

            var imgName = children[1].innerText;

            inputElem.type = "text";
            inputElem.id = 'mainRemove';
            inputElem.name = 'mainRemove';
            inputElem.setAttribute('value', imgName);

        } else if (elem.classList.contains('detailCancel')) {

            var imgName = children[1].innerText;

            inputElem.type = "text";
            inputElem.id = 'detailRemove';
            inputElem.name = 'detailRemove';
            inputElem.setAttribute('value', imgName);

        } else {

            var imgId = children[1].innerText;

            inputElem.type = "number";
            inputElem.id = 'originRemove';
            inputElem.name = "originRemove";
            inputElem.setAttribute('value', imgId);

        }


        console.log(inputElem);

        var createForm = document.getElementsByTagName('form')[0];
        createForm.appendChild(inputElem);

        var parentDiv = elem.parentNode;
        parentDiv.remove();

    }


</script>