<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/adminHeader :: adminHeader"/>
<style>
    body {
        padding-top: 40px;
    }
</style>

<div class="container">

    <div th:replace="partials/adminBodyHeader :: adminBodyHeader"/>

    <h1>Item List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>제품명(KR)</th>
                <th>제품명(EN)</th>
                <th>가격</th>
                <th>재고</th>
                <th>좋아요</th>
<!--                <th>상품 설명</th>-->
<!--                <th>상품 용량</th>-->
                <th>메인 이미지</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${itemDto}">
                <td th:text="*{item.id}"></td>
                <td th:text="*{item.nameKor}"></td>
                <td th:text="*{item.nameEng}"></td>
                <td th:text="*{item.price}"></td>
                <td th:text="*{item.stockQuantity}"></td>
                <td th:text="*{item.likes}"></td>
<!--                <td th:text="*{item.description}"></td>-->
<!--                <td th:text="*{item.capacity}"></td>-->
                <td>
                    <div th:if="*{!item.mainSrcs.isEmpty()}">
                        <img th:each="img : *{item.mainSrcs}" th:attr="src=@{${'/image/' + img.key}}" width="50" height="50" alt="">
                    </div>
<!--                    <img th:attr="src=@{/image/mainKakaoTalk_20191028_230146890.jpg}" width="50" height="50" alt="">-->
                </td>
            </tr>
        </tbody>
    </table>

</div>