<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<style>
    body, html {
        width: 100%;
        height: 100%;
    }

    body {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
<body>
<section class="container">
    <div class="container__inner">

        <div class="title-box">
            <h2 th:text="${status == null ? '상품등록' : '상품 수정'}">상품 등록</h2>
        </div>

        <form th:if="${status == null}" th:action="@{/admin/items/new}" method="post" th:object="${itemDto}" enctype="multipart/form-data">

            <div class="form__group">
                <label th:for="name">이름</label><br>
                <input type="text" th:field="*{nameKor}" class="input" placeholder="제품명을 입력해 주세요(KR).">
                <input type="text" th:field="*{nameEng}" class="input" placeholder="제품명을 입력해 주세요(EN).">
            </div>

            <div class="form__group">
                <label th:for="price">가격</label><br>
                <input type="number" th:field="*{price}" class="input" placeholder="제품의 가격을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">재고</label><br>
                <input type="number" th:field="*{stockQuantity}" class="input" placeholder="상품의 재고량을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">제품 설명</label><br>
                <textarea type="number" th:field="*{description}" class="input" placeholder="상품의 설명을 입력해 주세요."></textarea>
            </div>

            <div class="form__group">
                <label th:for="capacity">용량</label><br>
                <input type="number" th:field="*{capacity}" class="input" placeholder="제품의 용량을 입력해 주세요(ex 50ml)">
            </div>

            <div class="form__group">
                <div class="checkbox-div" th:each="category : ${allCategories}">
                    <input type="checkbox" th:field="*{multiCategoryValues}" th:value="${category.name}">
                    <label th:for="${#ids.prev('multiCategoryValues')}" th:text="${category.name}"></label><br>
                </div>
            </div>

            <div class="form__group" id="img-div">
                <label th:for="files">메인 이미지</label><br>
                <output id="result"></output>
                <input multiple="multiple" type="file" th:field="*{mainImg}" class="input preview files" th:onchange="handleFileSelect(this)">
                <button type="button" onclick="resetFile()">이미지 리셋</button>
            </div>

            <div class="form__group">
                <label th:for="detailImg">상세 이미지</label><br>
                <input multiple="multiple" type="file" th:field="*{detailImg}" class="input">
            </div>

            <div class="form__group">
                <input type="submit" value="상품 등록" class="submit-input"/>
            </div>
        </form>

        <!-- 업데이트 -->
        <form th:if="${status != null}" th:action="@{/admin/update}" method="post" th:object="${updateDto}" enctype="multipart/form-data">

            <div class="form__group">
                <label th:for="name">이름</label><br>
                <input type="text" th:field="*{nameKor}" class="input" placeholder="제품명을 입력해 주세요(KR).">
                <input type="text" th:field="*{nameEng}" class="input" placeholder="제품명을 입력해 주세요(EN).">
            </div>

            <div class="form__group">
                <label th:for="price">가격</label><br>
                <input type="number" th:field="*{price}" class="input" placeholder="제품의 가격을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">재고</label><br>
                <input type="number" th:field="*{stockQuantity}" class="input" placeholder="상품의 재고량을 입력해 주세요.">
            </div>

            <div class="form__group">
                <label th:for="stockQuantity">제품 설명</label><br>
                <textarea type="number" th:field="*{description}" class="input" placeholder="상품의 설명을 입력해 주세요."></textarea>
            </div>

            <div class="form__group">
                <label th:for="capacity">용량</label><br>
                <input type="number" th:field="*{capacity}" class="input" placeholder="제품의 용량을 입력해 주세요(ex 50ml)">
            </div>

            <div class="form__group">
                <div class="checkbox-div" th:each="category : ${allCategories}">
                    <input type="checkbox" th:field="*{multiCategoryValues}" th:value="${category.name}">
                    <label th:for="${#ids.prev('multiCategoryValues')}" th:text="${category.name}"></label><br>
                </div>
            </div>

            <div class="form__group">
                <label th:for="mainImg">메인 이미지</label><br>
                <img th:src="@{${'/upload/' + updateDto.mainImg.get(0).s3Key}}" alt="" class="preview">
                <input multiple="multiple" type="file" th:field="*{mainImg}" class="input">
            </div>

            <div class="form__group">
                <label th:for="detailImg">상세 이미지</label><br>
                <input multiple="multiple" type="file" th:field="*{detailImg}" class="input">
            </div>

            <div class="form__group">
                <input type="submit" value="상품 등록" class="submit-input"/>
            </div>
        </form>
    </div>

</section>

<script>

    function resetFile() {
        console.log(document.getElementById('files').value);
        document.getElementById('files').value = "";

    }

    // var allFiles = [];
    // var allPaths = [];

    function handleFileSelect(elem) {
        var files = elem.files;
        console.log('files', files);

        //Check File API support
        if (window.File && window.FileList && window.FileReader) {

            // var files = document.getElementsByClassName('files')[idx].files;
            // var files = event.target.files; //FileList object
            // console.log(files);
            // console.log(idx);

            var output = document.getElementById("result");

            for (var i = 0; i < files.length; i++) {
                // var file = files[i];

                var file = files.item(i);

                //Only pics
                if (!file.type.match('image')) continue;

                var picReader = new FileReader();
                picReader.addEventListener("load", function (event) {
                    var picFile = event.target;
                    var div = document.createElement("div");
                    div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" + "title='" + picFile.name + "'/>";
                    output.insertBefore(div, null);
                });

                //Read the image

                picReader.readAsDataURL(file);
                // allFiles.push(file);
                // allPaths.push("C:\\fakepath\\" + file.name);


                // document.getElementsByClassName('files')[idx].setAttribute('disabled');
                elem.style.display = 'none';


                // console.log(allFiles);
                // console.log(allPaths);
            }

            var imgDiv = document.getElementById('img-div');
            var divTag = document.createElement('div');
            imgDiv.appendChild(divTag);
            divTag.innerHTML = '<input multiple="multiple" type="file" id="mainImg" name="mainImg" onchange="handleFileSelect(this)" class="input preview files">';

        } else {
            console.log("Your browser does not support File API");
        }
    }

    // function imgData(event) {
    //     var files = document.getElementById('files').files;
    //
    //     for (var i = 0; i < allFiles.length; i++) {
    //         alert(files[i]);
    //         files[i] = allFiles[i];
    //     }
    //
    //     event.submit;
    // }

    var fileInputs = document.getElementsByClassName('files');
    var i = fileInputs.length - 1;

    while (i--) {
        var curFileInput = fileInputs[i];
        // curFileInput.addEventListener('change', handleFileSelect, false);
    }

    // document.getElementsByClassName('files').addEventListener('change', handleFileSelect, false);
    // document.getElementsByTagName('form')[0].addEventListener('submit', imgData);

</script>